<div class="modal-header">
    <h3>¿Desea Actualizar Esfuerzo Real?</h3>
</div>
<div class="modal-body">
    <h2 class="text-center"></h2>


    <div class="form-group">

        <div class="row">

            <div class="col-xs-3">
                <label class="control-label"> Esfuerzo Real:</label>
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" placeholder="dias" ng-model="vm.esfuerzo.hora">
            </div>

        </div>

    </div>

</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="vm.actualizarEsfuerzo()">Actualizar</button>
    <button type="submit" class="btn btn-success" ng-click="vm.cancel()">Cancelar</button>
</div>




