
   <div class="container" >
      <div id="breadcrumbs">
          <ol class="breadcrumb">
              <li class="breadcrumb-item active">Bitácora</li>
          </ol>
      </div>
       <h1>Bitácora</h1>
      <div class="panel">
          <div uib-alert ng-class="'alert-danger'" class="text-center" ng-show="vm.noData">No existen datos registrados</div>
          <hr>
         <div class="panel-body">

             <div class="form-group ">
                 <div class="row">

                     <div class="col-xs-2">
                         <label class="control-label">Seleccione Proyecto:</label>
                     </div>
                     <div class="col-xs-3" >
                         <select id="proyecto"
                                 class="form-control"
                                 name="name"
                                 ng-model="vm.idProyecto"
                                 ng-options="proyecto.idProyecto as  proyecto.idProyecto   for proyecto in vm.Proyectos "
                                 ng-change="  vm.obtenerBitacoras();"
                         >
                             <option value="">--Elige una opción--</option>
                         </select>
                     </div>
                 </div>
             </div>



            <table class="table table-hover ">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Proyecto</th>
                    <th>Fecha Ingreso</th>
                    <th>Tipo</th>
                    <th>Asunto</th>
                    <th>Fecha Vencimiento</th>
                    <th>Recurso</th>
                    <!--<th>Descripción</th>-->
                    <th>CRUD</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="bitacora in vm.Bitacoras ">
                    <th>{{bitacora.secBitacora}}</th>
                    <td>{{bitacora.fkIdProyecto}}</td>
                    <td>{{bitacora.fechaIngreso}}</td>
                    <td>{{bitacora.tipo}}</td>
                    <td>{{bitacora.asunto}}</td>
                    <td>{{bitacora.fechaVencimiento }}</td>
                    <td>{{bitacora.idRecurso}}</td>
                    <!--<td>{{bitacora.descripcion}}</td>-->
                    <td>
                        <a href="#!modificarBitacora/{{bitacora.secBitacora}}"
                           type="button"
                           class="btn btn-default"
                           ng-click="vm.setAction('Modificar')"

                        >
                           <i class="ion-edit"></i>
                        </a>
                        <button class="btn btn-default" ng-click="vm.showFormBitacora(bitacora.secBitacora)">
                           <i class="ion-trash-b"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

             <a href="#!nuevaBitacora"
                class="btn btn-success"
                role="button"
                ng-click="vm.setAction('Nueva')"
             >Nueva</a>

         </div>
      </div>
   </div>
