<div class="container">

<div class="page-header">
    <h1>Cargar Archivos <small>Seleccione los archivos de project o tracking-time</small></h1>
</div>
<div class="panel">

    <div ng-show="vm.cargaExitosa" uib-alert ng-class="'alert-success'" ng-model="vm.mensaje"> {{vm.mensaje}}</div>
    <div ng-show="vm.cargaNoExitosa" uib-alert ng-class="'alert-danger'" ng-model="vm.mensaje"> {{vm.mensaje}}  </div>

    <div class="panel-body">

       <div class = "row form-group">

           <div class="col-xs-1" >
               <label class="control-label">Tipo:</label>
           </div>
           <div class="col-xs-3" >
                <select class="form-control" ng-model="tipo" ng-change="vm.limpiar()">
                   <option value="">-- Eliga una opción --</option>
                   <option>Horas Hombre</option>
                   <option>Esfuerzo</option>
                </select>
           </div>





           <div class="col-xs-2">
               <label class="control-label" ng-hide="tipo === 'Horas Hombre'">Esfuerzo Real:</label>
               <label class="control-label" ng-show="tipo ==='Horas Hombre'">Avance:</label>
           </div>

           <div class="col-xs-4">

               <div class="input-group">
                   <label class="input-group-btn ">
                          <span class="btn btn-primary">
                                Browse
                              <input id="fileTracking" type="file"   style="display: none;"ng-model="valor"onchange="document.getElementById('fileName2').value=this.value" />
                          </span>
                   </label>
                   <input id="fileName2" type="text" class="form-control"  />
               </div>
           </div>
           <div class="col-xs-2 ">
               <label class="btn btn-primary">Add&hellip; <input ng-click=" vm.subirTracking(tipo)"  type="submit"  style="display: none;"></label>
           </div>

            <!--<span ng-show="tipo === 'Esfuerzo'">-->
                <!--<div class="col-xs-2">-->
                   <!--<label class="control-label">Tareas:</label>-->
                <!--</div>-->
                <!--<div class="col-xs-4">-->
                    <!--<div class="input-group">-->
                       <!--<label class="input-group-btn ">-->
                          <!--<span class="btn btn-primary">-->
                                <!--Browse-->
                              <!--<input id="fileTarea" type="file"  style="display: none;" ng-model="valor"  onchange="document.getElementById('fileName').value=this.value"/>-->
                          <!--</span>-->
                       <!--</label>-->
                       <!--<input id="fileName" type="text" class="form-control"  />-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-1">-->
                    <!--<label class="btn btn-primary " >Add&hellip; <input ng-click="vm.subirTarea()" type="submit"  style="display: none;"></label>-->

                <!--</div>-->
            <!--</span>-->
       </div>
        <div class = "row form-group">
            <div class="col-xs-4"></div>



        </div>

    </div>
</div>

</div>








