<div class="container">
   <div id="breadcrumbs">
       <ol class="breadcrumb">
           <li class="breadcrumb-item"><a href="#!proyectos">Proyectos</a></li>
           <li class="breadcrumb-item active">{{vm.proyecto.idProyecto}}</li>
       </ol>
   </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Proyecto {{vm.proyecto.idProyecto}}</h1>


            <div class="panel">
               <div class="panel-body">
                  <h2>Antecedentes del Proyecto</h2>
                  <table class="table table-hover">
                      <tbody>
                      <tr>
                          <td>Id</td>
                          <td>{{vm.proyecto.idProyecto}}</td>
                          <td></td>
                      </tr>
                      <tr >
                          <td>Nombre</td>
                          <td>{{vm.proyecto.nombre}}</td>
                          <td></td>

                      </tr>
                      <tr >
                          <td>tipo</td>
                          <td>{{vm.proyecto.tipo}}</td>
                          <td></td>

                      </tr>
                      <tr >
                          <td>Esfuerzo vendido</td>
                          <td>{{vm.proyecto.esfuerzoVendido}}</td>
                          <td></td>
                      </tr>
                      <tr >
                          <td>Fecha Inicio</td>
                          <td>{{vm.proyecto.fechaInicio}}</td>
                          <td></td>
                      </tr>
                      <tr >
                          <td>Fecha Término</td>
                          <td>{{vm.proyecto.fechaTermino}}</td>
                          <td></td>
                      </tr>
                      <tr >
                          <td>Descripcion</td>
                          <td>{{vm.proyecto.descripcion}}</td>
                          <td></td>
                      </tr>
                      <tr >
                          <td>Fase</td>
                          <td>{{vm.proyecto.fase}}</td>
                          <td></td>
                      </tr>
                      <tr >
                          <td>Estado</td>
                          <td>{{vm.proyecto.estado}}</td>
                          <td></td>
                      </tr>
                      <tr >
                          <td>Valor Vendido</td>
                          <td>{{vm.proyecto.valorVendido}}</td>
                          <td></td>
                      </tr>
                      <tr >
                          <td>Recurso</td>
                          <td>{{vm.todosLosRecursos}}</td>
                          <td></td>
                      </tr>
                      <tr >
                          <td>Contraparte</td>
                          <td>{{vm.proyecto.nombreContraparte}}</td>
                          <td></td>
                      </tr>
                      <tr >
                          <td>Sistema Relacionado</td>
                          <td>{{vm.proyecto.nombreSistema}}</td>
                          <td></td>
                      </tr>
                      </tbody>
                  </table>
               </div>
            </div>

            <div class="panel">
                <div class="panel-body">
                    <h2>Estado Facturación Hitos Comerciales</h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Hito</th>
                            <th>Porcentaje</th>
                            <th>Valor UF</th>
                            <th>abono</th>
                            <th>saldo</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="hito in vm.hitos" >
                            <td>{{hito.hitoComercial}}</td>
                            <td>{{hito.porcentaje}} % </td>
                            <td>{{hito.valorUf}} UF</td>
                            <td>{{hito.abono}} UF</td>
                            <td>{{hito.saldo}} UF</td>

                        </tr>
                        <tr ng-show="vm.hitos.length != 0 ">
                            <td>  Total </td>
                            <td>{{vm.total.porcentaje}}</td>
                            <td>{{vm.total.valorUF}} UF </td>
                            <td>{{vm.total.abono}} UF </td>
                            <td>{{vm.total.saldo}} UF </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="panel">
               <div class="panel-body">
                  <h2>Compromisos</h2>
                  <table class="table table-hover">
                      <thead>
                      <tr>
                          <th>Fecha Ingreso</th>
                          <th>Asunto</th>
                          <th>Descripción</th>
                          <th>Responsable</th>
                          <th>Fecha Vencimiento</th>
                          <th>Link</th>

                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="cm in vm.compromisos" >
                          <td>{{cm.fechaIngreso}}</td>
                          <td>{{cm.asunto}}</td>
                          <td>{{cm.descripcion}}</td>
                          <td>{{cm.idRecurso}}</td>
                          <td>{{cm.fechaVencimiento }}</td>
                          <td>{{cm.link }}</td>

                      </tr>
                      </tbody>
                  </table>
               </div>
            </div>


            <div class="panel">
               <div class="panel-body">
                  <h2>Emails</h2>
                  <table class="table table-hover ">
                      <thead>
                      <tr>
                          <th>Fecha</th>
                          <th>Asunto</th>
                          <th>Descripción</th>
                          <th>Link</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="ml in vm.mails">
                          <td>{{ml.fechaIngreso}}</td>
                          <td>{{ml.asunto}}</td>
                          <td>{{ml.descripcion}}</td>
                          <td>{{ml.link}}</td>
                      </tr>
                      </tbody>
                  </table>
               </div>
            </div>



            <div class="panel">
               <div class="panel-body">
                  <h2>Notas</h2>
                  <table class="table table-hover">
                      <thead>
                      <tr>
                          <th>Fecha Ingreso</th>
                          <th>Asunto</th>
                          <th>Descripcion</th>
                          <th>Link</th>


                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="nt in vm.notas" >
                          <td>{{nt.fechaIngreso}}</td>
                          <td>{{nt.asunto}}</td>
                          <td>{{nt.descripcion}}</td>
                          <td>{{nt.link}}</td>

                      </tr>
                      </tbody>
                  </table>
               </div>
            </div>


            <div class="panel">
                <div class="panel-body">
                    <h2>Acuerdos</h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Fecha Ingreso</th>
                            <th>Asunto</th>
                            <th>Descripcion</th>
                            <th>Link</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ac in vm.acuerdos" >
                            <td>{{ac.fechaIngreso}}</td>
                            <td>{{ac.asunto}}</td>
                            <td>{{ac.descripcion}}</td>
                            <td>{{ac.link}}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>
</div>
