<div class="container">
   <div id="breadcrumbs">
       <ol class="breadcrumb">
           <li class="breadcrumb-item"><a href="#!factura">Facturas</a></li>
           <li class="breadcrumb-item active">{{vm.proyecto.idProyecto}}</li>
       </ol>
   </div>
<div class="row">
    <div class="col-md-12">
        <h1>Facturas {{vm.proyecto.idProyecto}}</h1>

        <div class="panel">
           <div class="panel-body">


            <div class="row">
                <div class="col-xs-12">
                    <h2> Detalle Factura</h2>
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td>N° Factura</td>
                            <td>
                                {{vm.facturaDetalle.numeroFactura}}
                            </td>
                        </tr>
                        <tr >
                            <td>Fecha Emision</td>
                            <td>{{vm.facturaDetalle.fechaEmision}}</td>
                        </tr>
                        <tr >
                            <td>Proyecto</td>
                            <td>{{vm.facturaDetalle.idProyecto}}</td>
                        </tr>
                        <tr >
                            <td>Monto</td>
                            <td>{{vm.facturaDetalle.montoUF}}</td>
                        </tr>
                        <tr >
                            <td>Estado</td>
                            <td>{{vm.facturaDetalle.estado}}</td>
                        </tr>
                        <tr >
                            <td>Glosa</td>
                            <td>{{vm.facturaDetalle.glosa}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Hitos</th>
                            <th>Abono</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="hito in vm.hitos" >
                            <td>{{hito.hitoComercial}}</td>
                            <td>{{hito.abono}} UF</td>
                            <td> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
           </div>
        </div>
    </div>
</div>
</div>
