<div class="modal-header">
    <h3>¿Estás seguro que deseas eliminar el hito comercial?</h3>
</div>
<div class="modal-body">
    <h2 class="text-center"></h2>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-danger" ng-click="vm.eliminarHito()">Eliminar</button>
    <button type="submit" class="btn btn-success" ng-click="vm.cancelHito()">Cancelar</button>
</div>
