
<div class="container" >
   <h1 class="titulo">FACTURAR</h1>
   <div id="breadcrumbs" >
      <ol class="breadcrumb">
         <li class="breadcrumb-item active">Factura</li>
      </ol>
   </div>
   <!-- ng-click para que se muestre en el switch de escritorio la creación del nuevo proyecto-->
   <div class="panel">
      <div class="panel-body">

         <table class="table table-hover">
            <thead>
               <tr>
                  <th>N° Factura</th>
                  <th>Proyecto</th>
                  <th>Fecha Emisión</th>
                  <th>Estado</th>
                  <th>Monto UF</th>
                  <th>CRUD</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="factura in vm.Facturas | filter:buscador">
                  <th>
                     <!--vm.setAction('Detalle')-->
                     <a class="numeroFactura" href="#!descripcionFactura/{{factura.numeroFactura}}" ng-click="">{{factura.numeroFactura}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

                  </th>
                  <td>{{factura.idProyecto}}</td>
                  <td>{{factura.fechaEmision}}</td>
                  <td>{{factura.estado}}</td>
                  <td>{{factura.montoUF}}</td>
                  <td>
                     <a href="#!modificarFactura/{{factura.numeroFactura}}"
                        type="button" class="btn btn-default"
                        ng-click="vm.setAction('Modificar')"
                        ng-disabled=" factura.montoUF <= 0 "
                     >
                        <i class="ion-edit btn-ion"></i>
                     </a>
                     <button class="btn btn-default" ng-click="vm.showFormFactura(factura.numeroFactura)">
                        <i class="ion-trash-b"></i>
                     </button>
                  </td>
               </tr>
            </tbody>

         </table>
         <div class="row">
            <div class="col-lg-4" >
               <a href="#!nuevaFactura" class="btn btn-success" role="button">Nuevo</a>
               <!-- el buscador se activa gracias al filtro cuando se imprimen los proyectos más abajo-->
            </div>

         </div>

      </div>
   </div>
</div>

