
<div class="container" ng-if="!vm.noData">
    <div id="breadcrumbs">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Hitos Comerciales</li>
        </ol>
    </div>
    <h1>Hitos Comerciales</h1>
    <!-- ng-click para que se muestre en el switch de escritorio la creación del nuevo proyecto-->
    <div class="panel">
        <div class="panel-body">
            <a href="#!nuevoHitoComercial" class="btn btn-success" role="button">Nueva</a>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Proyecto</th>
                    <th>Tipo</th>
                    <th>Porcentaje Avance</th>
                    <th>Valor UF</th>
                    <th>Proyecto</th>
                    <th>Factura</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="hito in vm.Hitos_comerciales | filter:buscador">
                    <th>{{hito.sec_hito}}</th>
                    <td>{{hito.tipo}}</td>
                    <td>{{hito.porcentaje}}</td>
                    <td>{{hito.valor_uf}}</td>
                    <td>{{hito.fk_id_proyecto}}</td>
                    <td>{{hito.fk_id_factura}}</td>
                    <td>
                        <a href="#!modificarHitosComerciales/{{hito.sec_hito}}" type="button" class="btn btn-default">
                            <i class="ion-edit"></i>
                        </a>
                        <button class="btn btn-default" ng-click="vm.showFormHito_comercial(hito.sec_hito)">
                            <i class="ion-trash-b"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid" ng-if="vm.noData">
    <a href="#!nuevoHitoComercial" class="btn btn-primary btn-lg" role="button">Nueva</a>
    <div uib-alert ng-class="'alert-danger'" class="text-center">No existen datos registrados</div>
</div>
