<div id="breadcrumbs" class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#!bitacora">Bitácora</a></li>
        <li class="breadcrumb-item active">Modificar Bitácora</li>
    </ol>
</div>
<div class="container-fluid">
    <h1>Modificar Bitácora</h1>
    <br>
    <div ng-show="vm.bitacoraAgregado" uib-alert ng-class="'alert-success'">Bitácora agregada con éxito</div>
    <div ng-show="vm.bitacoraNoAgregado" uib-alert ng-class="'alert-danger'">
        <span>Valor(es) inválido(s) :</span>
        <span ng-show="vm.flagProyecto">Proyecto</span>
        <span ng-show="vm.flagTipo">Tipo</span>
        <span ng-show="vm.flagAsunto">Asunto</span>
        <span ng-show="vm.flagFecha">Fecha Inicio</span>
        <span ng-show="vm.flagFecha_vencimiento;vm.bitacora.tipo=='COMPROMISO'">Fecha Vencimiento</span>
        <span ng-show="vm.flagResponsable;vm.bitacora.tipo=='COMPROMISO'">Responsable</span>
        <span ng-show="vm.flagDescripcion">Descripción</span>
    </div>
    <form action="" novalidate>
        <div class="form-group">
            <label class="control-label col-xs-3">Proyecto:</label>
            <div class="col-xs-3">
                <input ng-disabled="vm.disable" type="text" class="form-control" placeholder="Asunto"  ng-model="vm.bitacora.fk_id_proyecto">
            </div>
            <label class="control-label col-xs-3">Tipo:</label>
            <div class="col-xs-3">
                <select class="form-control" ng-model="vm.bitacora.tipo">
                    <option>ACUERDO</option>
                    <option>EMAIL</option>
                    <option>COMPROMISO</option>
                    <option>NOTA</option>
                    <option>OBSERVACIONES ESTADO</option>
                </select>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label col-xs-3">Fecha:</label>
            <div class="col-xs-3">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.bitacora.fecha_ingreso" is-open="vm.popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </p>
            </div>
            <label class="control-label col-xs-3">Asunto:</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" placeholder="Asunto"  ng-model="vm.bitacora.asunto">
            </div>

        </div>
        <br>
        <div class="form-group" ng-show="vm.bitacora.tipo == 'COMPROMISO'">
            <label class="control-label col-xs-3">Responsable:</label>
            <div class="col-xs-3">
                <select class="form-control" ng-model="vm.bitacora.rut_responsable">
                    <option value="">--Eliga una opción--</option>
                    <option ng-repeat="recurso in vm.Recursos">{{recurso.rut_recurso}}</option>
                </select>
            </div>
            <label class="control-label col-xs-3">Fecha Vencimiento:</label>
            <div class="col-xs-3">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.bitacora.fecha_vencimiento" is-open="vm.popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </p>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label col-xs-3">Descripción:</label>
            <div class="col-xs-3">
                <textarea class="form-control" rows="3"  ng-model="vm.bitacora.descripcion"></textarea>
            </div>
        </div>

        <br><br><br>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <input type="submit" class="btn btn-primary" value="Guardar" ng-click="vm.actualizar()">
            </div>
        </div>
    </form>
</div>
