<div id="breadcrumbs" class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#!tarea">Tareas</a></li>
        <li class="breadcrumb-item active">Modificar Tarea</li>
    </ol>
</div>
<div class="container-fluid">
    <h1>Modificar Tarea</h1>
    <br>
    <div ng-show="vm.tareaAgregada" uib-alert ng-class="'alert-success'">Tarea Agregada con éxito</div>
    <div ng-show="vm.tareaNoAgregada" uib-alert ng-class="'alert-danger'">
        <span>Valor(es) inválido(s) :</span>
        <span ng-show="vm.flagSec_tarea">Secuencia Tarea</span>
        <span ng-show="vm.flagId_traspaso">Id Traspaso</span>
        <span ng-show="vm.flagdescripcion">Descripción</span>
        <span ng-show="vm.flagEsfuerzo_estimado">Esfuerzo Estimado</span>
        <span ng-show="vm.flagEsfuerzo_real">Esfuerzo Real</span>
        <span ng-show="vm.flagFecha_inicio_estimado">Fecha Inicio Estimado</span>
        <span ng-show="vm.flagFecha_inicio_real">Fecha Inicio Real</span>
        <span ng-show="vm.flagFecha_termino_estimado">Fecha Termino Estimado</span>
        <span ng-show="vm.flagFecha_termino_real">Fecha Termino Real</span>
        <span ng-show="vm.flagPorcentaje_estimado">Porcentaje Estimado</span>
        <span ng-show="vm.flagId_proyecto">Id Proyecto</span>
        <span ng-show="vm.flagRut_recurso">Rut Recurso</span>
        <span ng-show="vm.tareaAgregada">Tarea Agregada</span>
        <span ng-show="vm.tareaNoAgregada">Tarea No Agregada</span>

    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" >Descripción</label>
        <div class="col-xs-3">
            <input ng-disabled="vm.disable" ng-model="vm.tarea.descripcion" type="text" class="form-control" placeholder="identificador" >
        </div>
        <label class="control-label col-xs-3">Esfuerzo Estimado:</label>
        <div class="col-xs-3">
            <input ng-disabled="vm.disable" ng-model="vm.tarea.id_traspaso" type="text" class="form-control" placeholder="">
        </div>
    </div>
    <br>
    <br>
    <div class="from-group">
        <label class="control-label col-xs-3" >Fecha Inicio Estimado:</label>
        <div class="col-xs-3">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="" is-open="vm.popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <label class="control-label col-xs-3">Fecha Término Estimado:</label>
        <div class="col-xs-3">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.proyecto.fecha_inicio" is-open="vm.popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Porcentaje Estimado</label>
        <div class="col-xs-3">
            <input ng-disabled="vm.disable" ng-model="vm.tarea.porcentaje_estimado" type="text" class="form-control" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" >Id Proyecto</label>
        <div class="col-xs-3">
            <input ng-disabled="vm.disable" ng-model="vm.tarea.fk_id_proyecto" type="text" class="form-control" placeholder="identificador" >
        </div>
        <label class="control-label col-xs-3"></label>
        <div class="col-xs-3">
            <!--<input ng-disabled="vm.disable" ng-model="" type="text" class="form-control" placeholder="">-->
        </div>
        <br>
        <br>
        <label class="control-label col-xs-3">Recurso:</label>
        <div class="col-xs-3">
            <input ng-disabled="vm.disable" ng-model="vm.tarea.fk_rut_recurso" type="text" class="form-control" placeholder="">
        </div>
    </div>
    <br>
    <br><br>

    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
            <input type="submit" class="btn btn-primary" value="Guardar" ng-click="vm.upsertTarea()">
        </div>
    </div>
    </form>
</div>
