<div id="breadcrumbs" class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#!hitosComerciales">Hitos Comerciales</a></li>
        <li class="breadcrumb-item active">Modificar Hito Comercial</li>
    </ol>
</div>
<div class="container-fluid">
    <h1>Modificar Hito Comercial</h1>
    <br>
    <div ng-show="vm.hitoModificado" uib-alert ng-class="'alert-success'">Hito Comercial modificado con éxito</div>
    <div ng-show="vm.hitoNoModificado" uib-alert ng-class="'alert-danger'">
        <span>Valor(es) inválido(s) :</span>
        <span ng-show="vm.flagTipo">Tipo</span>
        <span ng-show="vm.flagPorcentaje">Porcentaje</span>
        <span ng-show="vm.flagValor_uf">Valor UF</span>
    </div>
    <form action="">
        <div class="form-group">
            <label class="control-label col-xs-3">Secuencial Hito:</label>
            <div class="col-xs-3">
                <input ng-disabled = "vm.disable" type="text" class="form-control" placeholder="valor" ng-model="vm.hito_comercial.sec_hito">
            </div>
            <label class="control-label col-xs-3">Tipo:</label>
            <div class="col-xs-3">
                <select class="form-control" ng-model="vm.hito_comercial.tipo" >
                    <option value="">--Elige una opción--</option>
                    <option>APROBACIÓN</option>
                    <option>CERTIFICACIÓN</option>
                    <option>FINAL</option>
                    <option>CONTROL DE CAMBIOS</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Porcentaje:</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" placeholder="porcentaje" ng-model="vm.hito_comercial.porcentaje">
            </div>
            <label class="control-label col-xs-3">Valor UF:</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" placeholder="valor" ng-model="vm.hito_comercial.valor_uf">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Proyecto:</label>
            <div class="col-xs-3">
                <input ng-disabled = "vm.disable" type="text" class="form-control" placeholder="proyecto" ng-model="vm.hito_comercial.fk_id_proyecto">
            </div>
            <label class="control-label col-xs-3">Factura:</label>
            <div class="col-xs-3">
                <input ng-disabled = "vm.disable" type="text" class="form-control" placeholder="factura" ng-model="vm.hito_comercial.fk_id_factura">
            </div>
        </div>
        <br><br>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <input type="submit" class="btn btn-primary" value="Guardar" ng-click="vm.actualizar()">
            </div>
        </div>
    </form>
</div>