
<div class="container">
   <div id="breadcrumbs">
      <ol class="breadcrumb">
         <!--<li class="breadcrumb-item"><a href="#!clientes" ng-click="vm.setAction( null )" >Clientes</a></li>-->
         <!--<li class="breadcrumb-item active">Nuevo Cliente</li>-->
      </ol>
   </div>

   <h1>Avance {{vm.idProyecto}}</h1>
   <div class="panel">
      <div class="panel-body">

         <div class="form-group">
            <div class="row">

               <div class="alert  alert-danger"
                    role="alert"
                    ng-show="vm.mensaje != null"
               >
                  <strong>Cuidado!</strong> {{vm.mensaje}}
               </div>


               <div class="col-xs-2">
                  <label class="control-label">* Avance Estimado:</label>
               </div>
               <div class="col-xs-2">
                  <input type="text"
                         class="form-control"
                         placeholder="%"
                         ng-model="vm.avance.avanceEstimado"
                           ng-change="vm.alertMsn()"
                  >
               </div>

            </div>
            <div class="row">
               <div class="col-xs-2 ">
                  <label class="control-label ">* Avance Real:</label>
               </div>
               <div class="col-xs-2">
                  <input type="text"
                         class="form-control"
                         placeholder="%"
                         ng-model="vm.avance.avanceReal"
                         ng-change="vm.alertMsn()"
                  >
               </div>
               <div class="col-xs-4">
                  </br>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-2">
                  <label class="control-label ">Fecha :</label>
               </div>
               <div class="col-xs-3 ">
                  <p class="input-group">
                     <input type="text" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.avance.fecha" is-open="vm.popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                          <span class="input-group-btn">
                             <button type="button" class="btn btn-default" ng-click="vm.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                  </p>
               </div>
            </div>
            <div class="row">
              <div class="col-xs-2">
                  <label class="control-label">Observacion: :</label>
              </div>
              <div class="col-xs-4 ">
                  <textarea class="form-control" rows="5" id="comment" ng-model="vm.avance.observacion"> </textarea>
              </div>

            </div>

            <br/>


            <div class="row">

               <div class="col-xs-4 ">
                 <p> *campos obligatorios    </p>
               </div>
            </div>
            <br/>

            <div class="row">
               <div class="col-xs-4">
                  <input type="submit"
                         class="btn btn-primary"
                         value="Guardar"
                         ng-click="vm.agregar()"
                        ng-disabled=" vm.avance.avanceEstimado == null || vm.avance.avanceEstimado == '' || vm.avance.avanceReal  == null || vm.avance.avanceReal == '' "
                  >
               </div>
               <div class="col-xs-4">
               </div>
               <div class="col-xs-3">
               </div>
            </div>

         </div>

      </div>
   </div>
</div>

 
