

<div class="container">

   <h1 class="titulo1"> {{vm.getAction()}} Proyecto </h1>
    <div id="breadcrumbs">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#!proyectos" ng-click="vm.setAction()">Proyectos</a></li>
            <li class="breadcrumb-item active">{{vm.getAction()}} Proyecto</li>
        </ol>
    </div>
<div class="panel">
   <div class="panel-body">
        <div class="form-group ">
            <h4>Datos Proyecto:</h4><div class="alertBox posicionar " flash-message="4000"> </div>
            <div class="row">
                <div class="alert  alert-danger"
                     role="alert"
                     ng-show="vm.nombreRepetido"
                >
                    <strong>Cuidado!</strong> nombre de proyecto ya existe
                </div>

                <div class="alert  alert-warning"
                     role="alert"
                     ng-show="vm.proyecto.idProyecto == null || vm.proyecto.idProyecto == '' || vm.proyecto.nombre == null || vm.proyecto.nombre == '' "
                >
                    <strong>Cuidado!</strong> id proyecto y nombre no pueden ser vacío o nulo
                </div>

                <div class="alert  alert-warning"
                     role="alert"
                     ng-show="vm.mostrarAlertaPorcentaje"
                >
                    <strong>Cuidado!</strong> {{vm.mensaje}}
                </div>


                <div class="alert  alert-success"
                     role="alert"
                     ng-show="vm.proyectoAgregado;"
                >
                     Proyecto agregado de manera exitosa
                </div>



                <div class="col-xs-2">
                    <label class="control-label" >Id Proyecto:</label>
                </div>
                <div class="col-xs-3 ">
                    <input ng-model="vm.proyecto.idProyecto"
                           type="text" class="form-control"
                           placeholder="identificador"
                           ng-change="vm.setIdProyectoExist()"
                            ng-disabled="vm.getAction() == 'Modificar' "
                    >
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-2">
                    <label class="control-label col-xs-1">Nombre:  </label>
                </div>
                <div class="col-xs-3  ">
                    <input ng-model="vm.proyecto.nombre"
                           type="text"
                           class="form-control"
                           placeholder="Nombre Proyecto"
                            ng-change="vm.nombreProyectoRepetido();vm.setIdProyectoExist();"
                    >
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2">
                    <label class="control-label" >Tipo:</label>
                </div>
                <div class="col-xs-3" >
                    <select class="form-control"
                            name="name"
                            ng-model="vm.proyecto.tipo"
                            ng-options="tipo for tipo in vm.tipos"
                    >
                        <option value="">--Elige una opción--</option>
                    </select>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-2">
                    <label class="control-label" >Contraparte:</label>
                </div>
                <div class="col-xs-3" >
                    <select id="contraparte"
                            class="form-control"
                            name="name"
                            ng-model="vm.idContraparte"
                            ng-options="con.idContraparte as con.nombre for con in vm.Contrapartes track by con.idContraparte ">
                        <option value="">--Elige una opción--</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <label class="control-label" >Sistema Relacionado:</label>
                </div>
                <div class="col-xs-3" >
                    <select id="sistema"
                            class="form-control"
                            name="name"
                            ng-model="vm.idSistema"
                            ng-options="sis.idSistemaRelacionado as sis.nombre for sis in vm.SistemasRelacionados track by sis.idSistemaRelacionado "   >
                        <option value="">--Elige una opción--</option>
                    </select>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-2">
                    <label class="control-label" >Fase:</label>
                </div>
                <div class="col-xs-3" >
                    <select id="fase"   class="form-control" name="name"  ng-model="vm.fase" ng-options="f for f in vm.fases">
                        <option value="" >--Elige una opción--</option>
                    </select>
                </div>



            </div>
            <div class="row">

                <div class="col-xs-2">
                    <label class="control-label" >Estado:</label>
                </div>
                <div class="col-xs-3" >
                    <select id="estado"   class="form-control" name="name"  ng-model=" vm.estadoDesarrolo" ng-options="e for e in vm.estados">
                        <option value="" >--Elige una opción--</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <label class="control-label ">Fecha Inicio:</label>
                </div>
                <div class="col-xs-3 ">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.proyecto.fechaInicio" is-open="vm.popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                          <span class="input-group-btn">
                             <button type="button" class="btn btn-default" ng-click="vm.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                    </p>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-2">
                    <label class="control-label">Fecha Término:</label>
                </div>
                <div class="col-xs-3 ">
                    <p class="input-group">
                        <input type="text" class="form-control"  uib-datepicker-popup="{{vm.format}}" ng-model="vm.proyecto.fechaTermino" is-open="vm.popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <label class="control-label" >Esfuerzo Vendido:</label>
                </div>
                <div class="col-xs-2" col>
                    <input ng-model="vm.proyecto.esfuerzoVendido"
                           type="text"
                           class="form-control"
                           placeholder="días"
                           format-number="2"

                    >
                </div>
                <div class="col-xs-2">
                </div>
                <div class="col-xs-2">
                    <label class="control-label ">Valor Vendido:  </label>
                </div>
                <div class="col-xs-2" col>
                    <input ng-model="vm.proyecto.valorVendido"
                           type="text"
                           class="form-control"
                           placeholder="UF"
                           ng-change="vm.setValorVendidoExist(); vm.setValorUF();"
                           format-number="2"

                    >
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <label class="control-label">Descripción:</label>
                </div>
                <div class="col-xs-9">
                    <textarea class="form-control form-proyecto" rows="5" id="comment" ng-model="vm.proyecto.descripcion"> </textarea>
                </div>
            </div>

            <br>
            <!--ng-show="vm.getAction() == 'Nuevo'" -->
            <div class="form-group descripcion-1"  >
                <h4 class="titulo-1">Hitos Comerciales</h4>
                <div class="panel-body panel-hitos">

                    <table class="table table-hover">
                        <thead>
                        <tr>

                            <th>Nombre Hito</th>
                            <th>Porcentaje</th>
                            <th>Valor UF</th>
                            <th>Saldo</th>
                            <th>CRUD</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="hito in vm.hitosPorGrabar">
                            <td> {{hito.hitoComercial}}</td>
                            <td>

                                <input
                                       id="{{$index}}hp"
                                       type="text"
                                       value = "{{hito.porcentaje}}"
                                       size="2"
                                       ng-blur="vm.desHabilitarHitos( $index  ); vm.validarPorcentaje();"
                                       class="form-control porcentajeHitoText"
                                       placeholder="%"
                                       ng-disabled="vm.pHDesabilitado"
                                       ng-model="hito.porcentaje"
                                       ng-change="vm.validarPorcentaje(); vm.actualizarPorcentaje($index);"
                                       ng-click="vm.seteaPorcentajeAnterior( hito.porcentaje  );"
                                       format-number="2"

                                       >
                            </td>
                            <td   id="{{$index}}huf" >{{hito.valorUf}}</td>
                            <td>  -  </td>
                            <td>

                                <button class="btn btn-default" ng-click="vm.habilitarHitos($index)">
                                    <i class="ion-edit"></i>
                                </button>

                                <button class="btn btn-default" ng-click=" vm.eliminarHitoPorGrabar(hito)">
                                    <i class="ion-trash-b"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td> Total</td>
                            <td> {{vm.totalHitosPorGrabar.totalPorcentaje}}</td>
                            <td> {{vm.totalHitosPorGrabar.totalValorUf}}</td>
                            <td> {{ vm.proyecto.valorVendido - vm.totalHitosPorGrabar.totalValorUf }} </td>
                            <td></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="botones col-lg-3">
                    <input type="submit"
                           class="btn btn-primary"
                           value="Guardar"
                           ng-disabled="vm.estadoBotonGrabadoFinal "
                           ng-click="vm.upsert()" />



                    <input type="submit"
                           class="btn btn-warning"
                           value="Cancelar"
                           ng-click="vm.setPath( '/proyectos' )" />
                </div>
                <div class="col-lg-9"></div>
                <br>


            </div>

        </div>


      <table>
          <thead>

          </thead>
            <hr>
          <tbody>
              <div class="row" >
                  <h4 class="titulo">Agregar Hitos Comerciales</h4>
                  <div class="col-xs-2">
                      <label class="control-label label-1" >Nombre Hito:</label>
                  </div>
                  <div class="col-xs-3">
                      <select id="nombresHitos"
                              class="form-control"
                              name="name"
                              ng-model="vm.hitoActual.hitoComercial"
                              ng-options="nombres.nombre as nombres.nombre for nombres in vm.nombresHitos"
                      >


                          <!--con.idContraparte as con.nombre for con in vm.Contrapartes track by con.idContraparte-->


                          <option value="">-Seleccionar-</option>
                      </select>
                  </div>

                  <div class="col-xs-1">
                      <label class="control-label ">Porcentaje:  </label>
                  </div>
                  <div class="col-xs-2">
                      <input ng-model="vm.hitoActual.porcentaje"
                             type="text"
                             class="form-control"
                             placeholder="%"
                             ng-change = "vm.setValorUF()"
                             format-number="2"
                      >
                  </div>

                  <div class="col-xs-1">
                      <label class="control-label" >Valor UF:</label>
                  </div>
                  <div class="col-xs-2">
                      <input ng-model="vm.hitoActual.valorUf" type="text" class="form-control" placeholder="UF" ng-disabled="true" >
                  </div>

                  <div class=" col-xs-1" id="proyecto">
                       <!--<button class="glyphicon glyphicon-plus-sign btn" ng-click="vm.upsertHito()" ng-disabled="vm.defineEstadoBotonHito()" >
                           <label class="control-label fuente"></label>
                       </button>-->
                      <button>
                      <i class="fa fa-plus-circle" aria-hidden="true" ng-click="vm.upsertHito()" ng-disabled="vm.defineEstadoBotonHito()"></i>
                      </button>
                  </div>
              </div>

         </tbody>
      </table>
   </div>
</div>
</div>