
<div class="page-header">
    <h1> Nueva Tareas <small>Creación de Tareas</small></h1>
</div>
<div class="panel">
    <div class="panel-body">
        <div ng-show="vm.tareaAgregada"


        >Tarea agregada con éxito</div>
        <div ng-show="vm.tareaNoAgregada" uib-alert ng-class="'alert-danger'">
            <span>Valor(es) inválido(s) :</span>
            <span ng-show="vm.flagId_traspaso">id_traspaso</span>
            <span ng-show="vm.flagdescripcion">Descripción</span>
            <span ng-show="vm.flagEsfuerzo_estimado">Esfuerzo Estimado</span>
            <span ng-show="vm.flagEsfuerzo_real">Esfuerzo Real</span>
            <span ng-show="vm.flagFecha_inicio_estimado">Fecha Inicio Estimado</span>
            <span ng-show="vm.flagFecha_inicio_real">Fecha Inicio Real</span>
            <span ng-show="vm.flagFecha_termino_estimado">Fecha Término Estimado</span>
            <span ng-show="vm.flagFecha_termino_real">Fecha Término Real</span>
            <span ng-show="vm.flagPorcentaje_estimado">Porcentaje Estimado</span>
            <span ng-show="vm.flagRut_recurso">Rut Recurso</span>
            <span ng-show="vm.tareaAgregada"></span>
            <span ng-show="vm.tareaNoAgregada"></span>
        </div>


        <!--Tabla-->

        <table>

            <tbody>

                    <tr class="tarea">
                        <td>
                            <h4>Datos Tarea:</h4>
                            <div class="form-group ">
                                <label class="control-label col-xs-3">Id Traspaso:</label>
                                <div class="col-xs-3 tarea2">
                                    <input ng-model="vm.tarea.id_traspaso" type="text" class="form-control" placeholder="ej: 0123" >
                                </div>

                                <label class="control-label col-xs-3">Descripción:</label>
                                <div class="col-xs-3 tarea2">
                                    <input ng-model="vm.tarea.descripcion" type="text" class="form-control" placeholder="ej: Creación Mantenedores" >
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr class="tarea">
                        <td>

                            <h4>Esfuerzo:</h4>
                            <div class="form-group ">
                                <label class="control-label col-xs-3" >Esfuerzo Estimado:</label>
                                <div class="col-xs-3" >
                                    <input ng-model="vm.tarea.esfuerzo_estimado" type="text" class="form-control" placeholder="ej: 4,5 hh" >
                                </div>
                                <label class="control-label col-xs-3" >Esfuerzo Real:</label>
                                <div class="col-xs-3">
                                    <input ng-model="vm.tarea.esfuerzo_real" type="text" class="form-control" placeholder="ej: 5 hh">
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr class="tarea">
                        <td>
                            <h4>Fechas Estimadas:</h4>
                            <div class="from-group ">
                                <label class="control-label col-xs-3">Fecha Inicio Estimado:</label>
                                <div class="col-xs-3">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.tarea.fecha_inicio_estimado" is-open="vm.popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                              <span class="input-group-btn">
                                 <button type="button" class="btn btn-default" ng-click="vm.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                                    </p>
                                </div>
                                <label class="control-label col-xs-3">Fecha Término Estimado:</label>
                                <div class="col-xs-3">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.tarea.fecha_termino_estimado" is-open="vm.popup3.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                              <span class="input-group-btn">
                                 <button type="button" class="btn btn-default" ng-click="vm.open3()"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr class="tarea">
                        <td>
                            <h4>Fechas Reales:</h4>
                            <div class="form-group ">
                                <label class="control-label col-xs-3">Fecha Inicio Real:</label>
                                <div class="col-xs-3">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.tarea.fecha_inicio_real" is-open="vm.popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                    </p>
                                </div>
                                <label class="control-label col-xs-3">Fecha Término Real:</label>
                                <div class="col-xs-3">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.tarea.fecha_termino_real" is-open="vm.popup4.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                              <span class="input-group-btn">
                                 <button type="button" class="btn btn-default" ng-click="vm.open4()"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr class="tarea">
                        <td>
                            <h4>Datos del Proyecto:</h4>
                            <div class="form-group">
                                <label class="control-label col-xs-3" >Id Proyecto:</label>
                                <div class="col-xs-3 selectContainer">

                                    <select class="form-control"  data-ng-model="vm.tarea.id_proyecto" ng-options="pry.id_proyecto as pry.id_proyecto for pry in vm.obtieneProyectos track by pry.id_proyecto">
                                        <option  value ="">Seleccionar Proyecto</option>
                                    </select>
                                </div>

                                <label class="control-label col-xs-3">Rut Recurso:</label>
                                <div class="col-xs-3 selectContainer">
                                    <select class="form-control" data-ng-model="vm.tarea.rut_recurso" ng-options="rec.rut_recurso as rec.id_recurso for rec in vm.obtieneRecursos track by rec.rut_recurso ">
                                        <!--"b.id as b.rut for b in vm.entidades track by b.id"-->
                                        <option value="">Seleccionar Recurso</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr class="tarea">
                        <td>
                            <h4>Avance Proyecto:</h4>
                            <div class="form-group">
                                <label class="control-label col-xs-3">Procentaje Estimado:</label>
                                <div class="col-xs-3">
                                    <input ng-model="vm.tarea.porcentaje_estimado" type="text" class="form-control" placeholder="ej: 45%" >
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><div class="col-xs-offset-3">
                            <input type="submit" class="btn btn-primary" value="Guardar" ng-click="vm.upsertTarea()">
                        </div></td>
                    </tr>
            </tbody>
        </table>

    </div>
</div>


