
<div class="container"  ng-if="!vm.noData">
   <div id="breadcrumbs">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="#!hitosComerciales">Hitos Comerciales</a></li>
         <li class="breadcrumb-item active">Nuevo Hito Comercial</li>
      </ol>
   </div>
   <h1>Nuevo Hito Comercial</h1>
   <div class="panel">
      <div class="panel-body">
         <div ng-show="vm.hitoAgregado" uib-alert ng-class="'alert-success'">Hito Comercial agregado con éxito</div>
         <div ng-show="vm.hitoNoAgregado" uib-alert ng-class="'alert-danger'">
            <span>Valor(es) inválido(s) :</span>
            <span ng-show="vm.flagTipo">Tipo</span>
            <span ng-show="vm.flagPorcentaje">Porcentaje</span>
            <span ng-show="vm.flagValor_uf">Valor UF</span>
            <span ng-show="vm.flagProyecto">Proyecto</span>
            <span ng-show="vm.flagFactura">Factura</span>
         </div>
         <div class="row">
            <form action="">
               <div class="form-group">
                  <div class="form-group">
                     <label class="control-label col-xs-3">Tipo:</label>
                     <div class="col-xs-3">
                        <select class="form-control" ng-model="vm.hito_comercial.tipo" >
                           <option value="">--Elige una opción--</option>
                           <option>APROBACIÓN</option>
                           <option>CERTIFICACIÓN</option>
                           <option>FINAL</option>
                           <option>CONTROL DE CAMBIOS</option>
                        </select>
                     </div>
                  </div>
                  <label class="control-label col-xs-3">Porcentaje:</label>
                  <div class="col-xs-3">
                     <input type="text" class="form-control" placeholder="porcentaje" ng-model="vm.hito_comercial.porcentaje">
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-xs-3">Valor UF:</label>
                  <div class="col-xs-3">
                     <input type="text" class="form-control" placeholder="valor" ng-model="vm.hito_comercial.valor_uf">
                  </div>
                  <label class="control-label col-xs-3">Proyecto:</label>
                  <div class="col-xs-3">
                     <select class="form-control" ng-model="vm.hito_comercial.fk_id_proyecto" >
                        <option value="">Elige una opción</option>
                        <option ng-repeat="proyecto in vm.Proyectos">{{proyecto.id_proyecto}}</option>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-xs-3">Factura:</label>
                  <div class="col-xs-3">
                     <select class="form-control" ng-model="vm.hito_comercial.fk_id_factura" >
                        <option value="">--Elige una opción--</option>
                        <option ng-repeat="factura in vm.Facturas">{{factura.id_factura}}</option>
                     </select>
                  </div>
               </div>
               <br><br>
               <div class="form-group">
                  <div class="col-xs-offset-3 col-xs-9">
                     <input type="submit" class="btn btn-primary" value="Guardar" ng-click="vm.agregar()">
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<div class="container-fluid" ng-if="vm.noData">
   <a href="#!nuevoHitoComercial" class="btn btn-primary btn-lg" role="button">Nueva</a>
   <div uib-alert ng-class="'alert-danger'" class="text-center">No existen datos registrados</div>
</div>
