
<div class="container">

   <div id="breadcrumbs">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="#!bitacora" ng-click="vm.setAction()">Bitacora</a></li>
         <li class="breadcrumb-item active">{{vm.getAction()}} Bitacora</li>
      </ol>
   </div>


<h1> {{vm.getAction()}} Bitácora </h1>
<div class="panel">
   <div class="panel-body">
      <flash-message></flash-message>
      <div ng-show="vm.tareaAgregada">Proyecto agregado con éxito</div>
      <div ng-show="vm.tareaNoAgregada" uib-alert ng-class="'alert-danger'">
         <span>Valor(es) inválido(s) :</span>
      </div>

      <div class="form-group ">
         <div class="row">
            <div class="col-xs-2">
               <label class="control-label">Seleccione Proyecto:</label>
            </div>
            <div class="col-xs-3" >
               <select id="proyecto"
                       class="form-control"
                       name="name"
                       ng-model="vm.bitacora.fkIdProyecto"
                       ng-options="proyecto.idProyecto as  proyecto.idProyecto   for proyecto in vm.Proyectos "
                       ng-change="  vm.obtenerHitos();
                                       vm.limpiarHitosPorFacturar(); "
               >
                  <option value="">--Elige una opción--</option>
               </select>
            </div>

            <div class="col-xs-2">
               <label class="control-label" >Responsable:</label>
            </div>
            <div class="col-xs-3" >
               <select id="recurso"
                       class="form-control"
                       name="name"
                       ng-model="vm.rutResponsable"
                       ng-options="rec.rutRecurso as rec.idRecurso for rec in vm.Recursos  track by rec.rutRecurso"
                       ng-disabled="vm.bitacora.tipo != 'Compromiso'"
               >
                  <option value="" >--Elige una opción--</option>
               </select>
            </div>

         </div>

         <div class="row">

            <div class="col-xs-2">
               <label class="control-label" >Tipo:</label>
            </div>
            <div class="col-xs-3" >
               <select id="tipo"
                       class="form-control"
                       name="name"
                       ng-model="vm.bitacora.tipo"
                       ng-options="tipo for tipo in vm.tipos"
               >
                  <option value="" >--Elige una opción--</option>
               </select>
            </div>
            <div class="col-xs-2">
               <label class="control-label col-xs-1">Asunto:  </label>
            </div>
            <div class="col-xs-3  ">
               <input ng-model="vm.bitacora.asunto"
                      type="text"
                      class="form-control"
                      placeholder="asunto" >
            </div>
         </div>

         <div class="row">
            <div class="col-xs-2">
               <label class="control-label" >Fecha Ingreso:</label>
            </div>
            <div class="col-xs-3" >
               <p class="input-group">
                  <input type="text"
                         class="form-control"
                         uib-datepicker-popup="{{vm.format}}"
                         ng-model="vm.bitacora.fechaIngreso"
                         is-open="vm.popup1.opened"
                         datepicker-options="dateOptions"
                         ng-required="true"
                         close-text="Close"
                         alt-input-formats="altInputFormats" />
                          <span class="input-group-btn">
                             <button type="button"
                                     class="btn btn-default"
                                     ng-click="vm.open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                             </button>
                          </span>
               </p>
            </div>
            <div class="col-xs-2">
               <label class="control-label" >Fecha Vencimiento:</label>
            </div>
            <div class="col-xs-3" >
               <p class="input-group">
                  <input type="text"
                         class="form-control"
                         uib-datepicker-popup="{{vm.format}}"
                         ng-model="vm.bitacora.fechaVencimiento"
                         is-open="vm.popup2.opened"
                         datepicker-options="dateOptions"
                         ng-required="true"
                         close-text="Close"
                         alt-input-formats="altInputFormats"
                         ng-disabled="vm.bitacora.tipo != 'Compromiso'"
                  />
                        <span class="input-group-btn">
                            <button type="button"
                                    class="btn btn-default"
                                    ng-click="vm.open2()">
                               <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
               </p>
            </div>
         </div>
         <div class="row">

            <div class="col-xs-2">
               <label class="control-label col-xs-1">Link:  </label>
            </div>
            <div class="col-xs-3  ">
               <input ng-model="vm.bitacora.link"
                      type="text"
                      class="form-control"
                      placeholder="link" >
            </div>

            <div class="col-xs-2">
               <label class="control-label">Descripción: </label>
            </div>
            <div class="col-xs-4 ">
               <textarea class="form-control"
                         rows="5" id="comment"
                         ng-model="vm.bitacora.descripcion">
               </textarea>
            </div>
         </div>

         <br>
         <!--ng-show="vm.getAction() == 'Nuevo'" -->

         <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
            <br>

            <input type="submit"
                   class="btn btn-primary"
                   value="Guardar"
                   ng-disabled="vm.estadoBotonGrabadoFinal"
                   ng-click="vm.agregar()" />


            <input type="submit"
                   class="btn btn-warning"
                   value="Cancelar"
                   ng-click="vm.setPath( '/bitacora' )" />


         </div>

      </div>

   </div>
</div>

</div>