
<div class="container">
   <div id="breadcrumbs">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="#!factura" ng-click="vm.setAction()">Factura</a></li>
         <li class="breadcrumb-item active">Nueva Factura</li>
      </ol>
   </div>
   <h1> Nueva Factura</h1>
   <div class="panel">
      <div class="panel-body">
         <div ng-show="vm.facturaAgregado" uib-alert ng-class="'alert-success'">Factura agregada con éxito</div>
         <div ng-show="vm.facturaNoAgregado" uib-alert ng-class="'alert-danger'">
            <span>Valor(es) inválido(s) :</span>
         </div>

         <div class="form-group">
            <div class="row">
               <div class="col-xs-2">
                  <label class="control-label">Seleccione Proyecto:</label>
               </div>
               <div class="col-xs-3" >
                  <select id="proyecto"
                          class="form-control"
                          name="name"
                          ng-model="vm.idProyecto"
                          ng-options="proyecto.idProyecto as  proyecto.idProyecto   for proyecto in vm.Proyectos "
                          ng-change="  vm.obtenerHitos();
                                       vm.limpiarHitosPorFacturar(); "
                  >
                     <option value="">--Elige una opción--</option>
                  </select>
               </div>
            </div>
         </div>


         <div class="form-group">
            <div class="row">
               <div class="col-xs-2">
                  <label class="control-label">Seleccione Hitos:</label>
               </div>
            </div>

            <div class="row">
               <div class="col-xs-12">
               <table class="table table-hover">
                  <thead>
                  <tr>

                     <th>
                        <input id="chkTodo"
                               type="checkbox"
                               value=""
                               ng-click="vm.activaChecks();"
                               ng-disabled="vm.total.saldo == 0"
                        >
                     </th>
                     <th>Nombre Hito</th>
                     <th>Porcentaje</th>
                     <th>Valor UF</th>
                     <th>Abono</th>
                     <th>Saldo</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="hito in vm.hitos">
                     <td>
                        <input id="{{$index}}chk"
                               type="checkbox"
                               value=""
                               ng-disabled="true"
                        >
                     </td>
                     <td><a href="" ng-click="vm.setingHito( hito );"> {{hito.hitoComercial}} </a></td>
                     <td>
                        {{hito.porcentaje}}
                     </td>
                     <td   id="{{$index}}huf" >{{hito.valorUf}}</td>
                     <td>{{hito.abono}}  </td>
                     <td>{{hito.saldo}}  </td>
                  </tr>
                  <tr ng-show="vm.hitos.length != 0 ">
                     <td></td>
                     <td><a  ng-click=" "     >  Total </a></td>
                     <td>{{vm.total.porcentaje}}</td>
                     <td>{{vm.total.valorUF}}</td>
                     <td>{{vm.total.abono}}</td>
                     <td>{{vm.total.saldo}}</td>
                  </tr>
                  </tbody>
               </table>
               </div>
            </div>
         </div>
         </br>

         <div class="form-group">
            <div class="row">
               <div class="col-xs-2">
                  <label class="control-label">Hito:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="Hito"
                         ng-model="vm.hito"
                         ng-disabled="true"
                  >
               </div>
               <div class="col-xs-2">
                  <label class="control-label">Abono:</label>
               </div>
               <div class="col-xs-3">
                  <input
                         id="abonoTxt"
                         type="text"
                         class="form-control"
                         placeholder="UF"
                         ng-model="vm.abono"
                         format-number="2"
                         max-value="20"
                         ng-change="vm.validarAbonoMax(); vm.habilitarBotonAgregado();"
                         ng-disabled=" vm.hito == null || vm.hito == ''  "
                  >
               </div>
               <div class="col-xs-2">
                  <input
                           id="btnAgregado"
                           type="submit"
                           class="btn btn-primary"
                           value="Agregar"
                           ng-click="vm.upsertHito()"
                           ng-disabled=" vm.btnAgregarDeshabilitado"
                  >
               </div>
            </div>
         </div>
         </br>
         <div class="form-group ">
            <div class="row">
               <div class="alert  alert-danger" role="alert" ng-show="vm.facturaRepetida" >
                  <strong>Cuidado!</strong> factura ya existe y su monto es distinto de cero.
               </div>
               <div class="col-xs-2">
                  <label class="control-label">*N° Factura:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="Numero Factura"
                         ng-model="vm.factura.numeroFactura"
                        ng-change="vm.validarFacturaEnCero(); vm.evaluarCampos();"
                  >
               </div>
               <div class="col-xs-2">
                  <label class="control-label">Fecha Emision:</label>
               </div>
               <div class="col-xs-3">
                  <p class="input-group">
                     <input type="text"
                            class="form-control"
                            uib-datepicker-popup="{{vm.format}}"
                            ng-model="vm.factura.fechaEmision"
                            is-open="vm.popup1.opened"
                            datepicker-options="dateOptions"
                            ng-required="true"
                            close-text="Close"
                            alt-input-formats="altInputFormats"
                            ng-readonly="true"
                     />
                  <span class="input-group-btn">
                     <button type="button" class="btn btn-default" ng-click="vm.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                  </p>
               </div>
            </div>

            <div class="row">

               <div class="col-xs-2">
                  <label class="control-label">Monto Uf: </label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="UF"
                         ng-model="vm.factura.montoUF"
                         format-number="2"
                         ng-disabled="true"
                  >
               </div>

               <div class="col-xs-2">
                  <label class="control-label">*Estado</label>
               </div>
               <div class="col-xs-3">
                  <select class="form-control"
                          ng-model="vm.factura.estado"
                         ng-change="vm.evaluarCampos();"
                  >
                     <option value="">--Elige una opción--</option>
                     <option>EMITIDA</option>
                     <option>PAGADA</option>
                     <option>ANULADA</option>
                  </select>
               </div>

            </div>
            <div class="row">
               <div class="col-xs-2">
                  <label class="control-label">Glosa: </label>
               </div>
               <div class="col-xs-3 ">
                  <textarea class="form-control" rows="5" id="glossa" ng-model="vm.factura.glosa"> </textarea>
               </div>
            </div>
         </div>
         <div class="form-group">
            <div class="row">
               <div class="col-xs-2">
                  <label class="control-label">Hitos por facturar:</label>
               </div>
            </div>
            <div class="row">

               <div class="col-xs-12">
                  <table class="table table-hover">
                     <thead>
                     <tr>
                        <th>Hito</th>
                        <th>Abono</th>
                        <th>CRUD</th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr ng-repeat=" hito in vm.hitosPorFacturar" >
                        <td> {{ hito.hitoComercial  }} </td>
                        <td>


                           <input
                                   id="{{$index}}ha"
                                   type="text"
                                   value = "{{hito.abono}}"
                                   size="2"
                                   ng-blur="vm.desHabilitarHitos( $index + 'ha' );"
                                   class="form-control porcentajeHitoText"
                                   placeholder="UF"
                                   ng-disabled="vm.pHDesabilitado"
                                   format-number="2"
                                   ng-model="hito.abono"
                           >

                        </td>
                        <td>
                           <button class="btn btn-default" ng-click="vm.habilitarHitos($index + 'ha')">
                              <i class="ion-edit"></i>
                           </button>
                           <button class="btn btn-default" ng-click=" vm.eliminarHitoPorGrabar(hito)">
                              <i class="ion-trash-b"></i>
                           </button>
                        </td>
                     </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>

         <div class="form-group ">
            <div class="row">
               <p>(*)campos obligatorios</p>
               <div class="col-xs-4">
                  <input type="submit"
                         class="btn btn-primary"
                         value="Guardar"
                         ng-click="vm.upsert()"
                         ng-disabled="vm.btnGuardarDeshabilitado"
                  />
                  <input type="submit"
                         class="btn btn-warning"
                         value="Cancelar"
                         ng-click="vm.setPath( '/factura' )" />
               </div>
               <div class="col-xs-4">
               </div>
               <div class="col-xs-3">
               </div>
            </div>
         </div>


      </div>
   </div>
</div>
