<!--<div class="container" ng-if="!vm.noData">-->
    <!--<div id="breadcrumbs">-->
        <!--<ol class="breadcrumb"></ol>-->
    <!--</div>-->

<div class="container" id="contenedor-1">
    <div class="row">
        <div class="page-header col-md-6" id="test">
            <h1>PROYECTOS <small>Buscador de proyectos</small></h1>
        </div>
        <div class="buscadorProyecto form-group col-md-6">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input id="buscador" class="input-lg" placeholder="Buscar" type="text" ng-model="vm.buscadorProyecto" />
        </div>

    </div>

    <div class="row">
        <div class="panel col-md-12">
            <div uib-alert ng-class="'alert-danger'" class="text-center" ng-show="vm.noData">No existen datos registrados</div>

            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Esfuerzo Vendido</th>
                        <th>Valor Vendido</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Término</th>
                        <th>Avance</th>
                        <th>Crud</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="proyecto in vm.Proyectos | filter:vm.buscadorProyecto">
                        <th><a href="#!descripcionProyecto/{{proyecto.idProyecto}}" ng-click="vm.setAction('Detalle')">{{proyecto.idProyecto}}</a></th>
                        <td>{{proyecto.nombre}}</td>
                        <td>{{proyecto.tipo}}</td>
                        <td>{{proyecto.esfuerzoVendido}} dias</td>
                        <td>{{proyecto.valorVendido}} UF</td>
                        <td>{{proyecto.fechaInicio}}</td>
                        <td>{{proyecto.fechaTermino}}</td>
                        <td>
                            <a href="#!nuevoAvance/{{proyecto.idProyecto}}" type="button" class="btn btn-default" >
                                <i class="glyphicon glyphicon-forward"></i>
                            </a>
                        </td>
                        <td>
                            <!-- <a href="#!tareas/{{proyecto.id_proyecto}}" type="button" class="btn btn-info">Ver Tareas</a> -->
                            <a href="#!modificarProyecto/{{proyecto.idProyecto}}" type="button" class="btn btn-default" ng-click="vm.setAction('Modificar')">
                                <i class="ion-edit"></i>
                            </a>
                            <button class="btn btn-default" ng-click="vm.showFormProyecto(proyecto.idProyecto)">
                                <i class="ion-trash-b"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-lg-4">
                        <a href="#!nuevoProyecto" class="btn btn-success" role="button" ng-click="vm.setAction('Nuevo')">Nuevo</a>
                        <!-- el buscador se activa gracias al filtro cuando se imprimen los proyectos más abajo-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
