<!--<div class="container" ng-if="!vm.noData">-->
<!--<div id="breadcrumbs">-->
<!--<ol class="breadcrumb"></ol>-->
<!--</div>-->
<div class="page-header">
        <h1>Tareas <small>Buscador de Tareas</small></h1>
</div>
<div ng-show="vm.flagSinTarea" uib-alert ng-class="'alert-success buscadorTareas2'">
    <span ng-show="vm.flagSinTarea">No se encontraron Tareas</span>
</div>

<table class="form-group filtro" >
    <thead>
        <tr>

        </tr>
    </thead>
    <tbody>
            <tr>
                <td class="form-group-lg" >
                    <div class="col-sm-8 selectContainer ddl" >
                        <select class="form-control" class="form-group-lg" data-ng-model="vm.tarea.proyecto" ng-options="pry.id_proyecto as pry.id_proyecto for pry in vm.obtieneProyectos track by pry.id_proyecto">
                            <option value="">Seleccionar Proyecto</option>
                        </select>
                    </div>
                </td>
                <td class="form-group-lg">
                    <div class="col-sm-8 buscadorTareas ">
                        <i class="ion-search"></i>
                        <input id="buscador" class="input-lg" placeholder="Buscar" type="text" ng-model="vm.buscadorTareas" />
                    </div>
                </td>
                <td class="form-group-lg ">
                    <div class="col-sm-8 primary-buscar">
                        <a ng-click="vm.obtenerTareas()" class="btn btn-primary btn-lg" role="button">Buscar</a>
                    </div>
                </td>
            </tr>
    </tbody>
</table>
<br>
<div class="panel">
    <div class="panel-body">
        <table class="table table-hover" >
            <thead>
            <tr>
                <th>Id Traspaso</th>
                <th>Descripción</th>
                <th>Esfuerzo Estimado</th>
                <th>Esfuerzo Real</th>
                <th>Fecha Inicio Estimada</th>
                <th>Fecha Término Estimada</th>
                <th>Porcentaje Estimado</th>
                <th>Id Proyecto</th>
                <th>Recurso</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tarea in vm.obtenerTareas" ng-show="vm.tarea.proyecto === tarea.id_proyecto || vm.tarea.proyecto == null">
                    <td>{{tarea.id_traspaso}}</td>
                    <td>{{tarea.descripcion}}</td>
                    <td>{{tarea.esfuerzo_estimado}}</td>
                    <td>{{tarea.esfuerzo_real}}</td>
                    <td>{{tarea.fecha_inicio_estimado}}</td>
                    <td>{{tarea.fecha_termino_estimado}}</td>
                    <td>{{tarea.porcentaje_estimado}}</td>
                    <td>{{tarea.id_proyecto}}</td>
                    <td>{{tarea.id_recurso}}</td>
                    <td>
                        <!-- <a href="#!tareas/{{proyecto.id_proyecto}}" type="button" class="btn btn-info">Ver Tareas</a> -->
                        <a href="#!modificarTarea" type="button" class="btn btn-default">
                            <i class="ion-edit"></i>
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-default" ng-click="vm.showFormTarea( tarea )"><!--Botón Eliminars--->
                            <i class="ion-trash-b"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-4">
                <a href="#!nuevaTarea" class="btn btn-success" role="button">Nuevo</a>
            </div>

        </div>
    </div>
</div>

