/*estilo para distribuir los espacios en la página entre sus partes*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body{
   background: #505762;
   height:100%;
   font-size: 14px;
   font-family: 'Open Sans', sans-serif;
   color: #747474;
}

body.pushable {
    background: #efefef !important;
}


h1{
    font-size: 32px;
    color: #d0fefb;
}
.titulo1 {
    text-transform: uppercase;
    margin-left: 55px;
    margin-bottom: 5px;
}
small {
    margin-left: 15px;
}
h2{
   font-size: 18px;
}
h4{
    color: #003366;
}

thead tr th, label{
   font-weight: 600;
}

.panel-body h2{
   margin-top: 0;
   margin-bottom: 20px;
}
.panel-hitos {
padding-left: 0px;
}

.breadcrumb {
    padding: 5px 0px;
    margin-bottom: 15px;
    margin-left: 55px;
    width: 40%;
    background-color: transparent;
}
div#breadcrumbs ol li  {
    color: #8d9199;
}
.breadcrumb-item a {
    color: #c6c6c6;
    text-decoration: none;
}
div#contenedor-1 {
    margin-top: 5rem;
}

.menu-lateral{
   margin: 20px 20px;
   padding: 0;
}

.menu-lateral li{
   list-style: none;
}
.menu-lateral li a{
   padding: 10px 0;
   display: block;
   position: relative;
   text-decoration: none;
   color: #003366;
}

.menu-lateral li a i{
   padding: 10px 0;
   display: block;
   position: absolute;
   right: 0;
   top: 2px;
}

.menu-lateral li .submenu{
   margin: 0;
   padding: 0;
   margin-left: 15px;
}

.menu-lateral li .submenu li a{
   font-size: 12px;
   color: #3c81d1;
}

.barraSuperior {
    background-color: white;
}

.barraSuperior .logo {
    margin: 10px 20px;
    float: left;
    width: 75px;
}


div#contenido{
    padding-left: 0px;
    padding-right: 0px;
}
div#breadcrumbs{
    padding-left: 0px;
    padding-right: 0px;
}
div#margenCuandoColapsa{
    margin-bottom: 0px;
}

/*Estilo botón salir*/
button,select{
    color: white;
    background-color: #5cb85c;
}
/*
.panel, .buscadorProyecto{
   border: none;
   border-radius: 25px;
   -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
   box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
   background: white;
}*/

div.botones .btn-warning {
    margin-left: 10px;
}
.alert-warning {
    margin-left: -30px;
    padding-left: 42px;
}
.panel, .buscadorProyecto{
   border: none;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}
.buscadorProyecto{
    text-align: right;
    padding-right: 117px;
}
.buscadorProyecto i{
   margin-left: 15px;
   font-size: 23px;
   color: #b9b9b9;
   position: relative;
   top: 2px;
}
.buscadorProyecto .icon{
    position: absolute;
    top: 20%;
    z-index: 1;
    color: #4f5b66;
}

.buscadorProyecto #buscador{
    border: none;
    width: 400px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    padding-left: 45px;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    background: #d7d7d7;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
}
input#buscador:focus{
    background: #fff;
}

.panel, .buscadorTareas{
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    background: white;
    width: 95%;
    margin-left: -1em;
}

.buscadorTareas2{
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    width: 95% ;
    margin-left: -4em;
}

.buscadorTareas i{
    margin-left: 15px;
    font-size: 23px;
    color: #b9b9b9;
    position: relative;
    top: 2px;
    width:90%;
}

.buscadorTareas #buscador{
    border: none;
}

button, input, select, textarea{
   border-radius: 3px;
}
.form-proyecto {
    margin-top: 14px;
}
.boton
{
    margin-top: 1.8em;

}

.panel{
    border-radius: 7px;
    margin: 0 auto;
    margin-bottom: 90px;
    width: 90%;
    padding-bottom: 10px;
}

.page-header{
    margin-left: 0;
}
div#test h1{
    margin-top: 10px;
    margin-bottom: 0px;
}
div#test h1{
    margin-top: 0px;
    margin-bottom: 0px;
}

.col-md-4{
    margin-left:3em;
}

.esfuerzo{

    margin-top:0.5em;
}

.boton2{

    margin-top: 2.2em;
}
.tarea{


    border-bottom: 1px solid #ddd;
    height: 100px;


}

div#proyecto button {
    font-size: 2.4rem;
    color: #89de89;
    background-color: #fff;
    border-style: none;
}
div#proyecto button:hover {
    color: #44a244;
}
<!---->

/*body{*/
    /*background: #97ADCC;*/
/*}*/
.navbar, .dropdown-menu {
    background: #202730;
    border: none;
    font-size: 17px;

}
.uib-datepicker-popup.dropdown-menu {
    background-color: #efefef;
    padding: 10px;
    border-radius: 7px;
}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
    border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    border-bottom: 3px solid transparent;
    background: none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
    color: #fff;
}
.dropdown-menu{
    -webkit-box-shadow: none;
    box-shadow:none;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
    border-bottom: #62C2E4 3px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
    border-bottom: #62C2E4 3px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
    border-bottom: #62C2E4 3px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
    border-bottom: #62C2E4 3px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
    border-bottom: #62C2E4 3px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
    border-bottom: #62C2E4 3px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
    border-bottom: #62C2E4 3px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
    border-bottom: #62C2E4 3px solid;
}

.navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
}
.nav > li {
    padding: 0 10px;
}

.filtro{
    margin-left: 4em;
    width: 100%;
}
.ddl{
    margin-left: -1em;
    width:100%;
}
.primary-buscar{
    width:100%;
}
.form-group{
    padding-left: 30px;
}
div.descripcion-1 {
    padding-left: 0;
}
.fila{
    padding: 5px;
}

/*.row{*/
    /*margin: 0 auto !important;*/
    /*background-color: green;*/
    /*vertical-align: middle;*/
/*}*/

.row label.control-label{
    padding: 8px 0px 8px 0px   ;
    /*background-color: red !important;*/
}
.label-1 {
    margin-left: 28px;
}
.btn-ion{
    padding: auto;
}

.glyphicon-plus-sign{

 font-size: 1.5em;
    color: #fff;
}
.fuente{

    font-family: Arial;
}

.titulo{
    margin-left: 2.4em;
}


.porcentajeHitoText[disabled]{
    margin: 0;
    padding: 0;
    height: 20px;
    font-size: 13px;
    vertical-align: top;
    border: none;
    box-shadow: none;
    background-color: transparent ;

}

.porcentajeHitoText{
    margin: 0;
    padding: 0;
    height: 20px;
    font-size: 13px;
    vertical-align: top;
    border: none;
    box-shadow: none;
    background-color: transparent ;

}

.numeroFactura:hover{
    text-decoration: none;

}


@media (min-width: 768px){
    .col-sm-8 {
        width: 90%;
    }
}














