
<div class="container" ng-if="!vm.noData">
   <div id="breadcrumbs">
       <ol class="breadcrumb">
           <li class="breadcrumb-item">Mantenedores</li>
           <li class="breadcrumb-item active">Avance</li>
       </ol>
   </div>
   <h1>Avance</h1>
    <!-- ng-click para que se muestre en el switch de escritorio la creación del nuevo proyecto-->
   <div class="panel">
      <div class="panel-body">

          <div class="alert  alert-warning"
               role="alert"
               ng-show="vm.problema"
          >
               {{vm.mensaje}}
          </div>

        <div class="form-group ">
            <div class="row">


            <div class="col-xs-2">
            <label class="control-label">Seleccione Proyecto:</label>
            </div>
            <div class="col-xs-3" >
                <select id="proyecto"
                        class="form-control"
                        name="name"
                        ng-model="vm.idProyecto"
                        ng-options="proyecto.idProyecto as  proyecto.idProyecto   for proyecto in vm.Proyectos "
                        ng-change="  vm.obtenerAvances();"
                        ng-change="  vm.obtenerAvances();"
                >
                    <option value="">--Elige una opción--</option>

                </select>
            </div>
            </div>
        </div>

          <table class="table table-hover">
             <thead>
             <tr>
                 <th>Proyecto</th>
                 <th>Id</th>
                 <th>Avance Estimado</th>
                 <th>Avance Real</th>
                 <th>Esfuerzo Real</th>
                 <th>Fecha</th>
                 <th>Observación</th>
                 <th>CRUD</th>

             </tr>
             </thead>
             <tbody>
             <tr ng-repeat="av in vm.avances">
                 <td>{{av.fkIdProyecto}}</td>
                 <th>{{av.id}}</th>
                 <td>{{av.avanceEstimado}} %</td>
                 <td>{{av.avanceReal}} %</td>
                 <td>{{av.esfuerzoReal/9}} d</td>
                 <td>{{av.fecha}}</td>
                 <td>{{av.observacion}}</td>
                 <td>
                     <a href="#!modificarAvance/{{av.id}}" type="button" class="btn btn-default" ng-click="  ">
                        <i class="ion-edit"></i>
                     </a>
                     <button class="btn btn-default" ng-click="vm.showFormAvance(av.id)">
                        <i class="ion-trash-b"></i>
                     </button>
                 </td>
             </tr>
             </tbody>
         </table>
      </div>
   </div>
</div>
<div class="container-fluid" ng-if="vm.noData">
    <a href="#!nuevoCliente" class="btn btn-primary btn-lg" role="button">Nuevo</a>
    <div uib-alert ng-class="'alert-danger'" class="text-center">No existen datos registrados</div>
</div>
