
<div class="container" ng-if="!vm.noData">
   <div id="breadcrumbs">
       <ol class="breadcrumb">
           <li class="breadcrumb-item">Mantenedores</li>
           <li class="breadcrumb-item active">Clientes</li>
       </ol>
   </div>
   <h1>Clientes</h1>
    <!-- ng-click para que se muestre en el switch de escritorio la creación del nuevo proyecto-->
   <div class="panel">
      <div class="panel-body">
         <table class="table table-hover">
             <thead>
             <tr>
                 <th>Rut</th>
                 <th>Nombre</th>
                 <th>Fono</th>
                 <th>Correo</th>
                 <th></th>
             </tr>
             </thead>
             <tbody>
             <tr ng-repeat="cliente in vm.Clientes | filter:buscador">
                 <th>{{cliente.rutCliente}}</th>
                 <td>{{cliente.nombre}}</td>
                 <td>{{cliente.fono}}</td>
                 <td>{{cliente.correo}}</td>

                 <td>
                     <a href="#!modificarClientes/{{cliente.rutCliente}}" type="button" class="btn btn-default" ng-click=" vm.setAction('Modificar') ">
                        <i class="ion-edit"></i>
                     </a>
                     <button class="btn btn-default" ng-click="vm.showFormCliente(cliente.rutCliente)">
                        <i class="ion-trash-b"></i>
                     </button>
                 </td>
             </tr>
             </tbody>
         </table>
          <a href="#!nuevoCliente" class="btn btn-raised btn-success" role="button" ng-click=" vm.setAction('Nuevo') ">Nuevo</a>
      </div>
   </div>
</div>
<div class="container-fluid" ng-if="vm.noData">
    <a href="#!nuevoCliente" class="btn btn-primary btn-lg" role="button">Nuevo</a>
    <div uib-alert ng-class="'alert-danger'" class="text-center">No existen datos registrados</div>
</div>
