
<div class="container" ng-if="!vm.noData">
    <div id="breadcrumbs">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Mantenedores</li>
            <li class="breadcrumb-item active">Contraparte</li>
        </ol>
    </div>
    <h1>Contraparte</h1>
    <!-- ng-click para que se muestre en el switch de escritorio la creación del nuevo proyecto-->
    <div class="panel">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>idContraparte</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>CRUD</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="contraparte in vm.Contrapartes | filter:buscador">
                    <th>{{contraparte.idContraparte}}</th>
                    <td>{{contraparte.nombre}}</td>
                    <td>{{contraparte.telefono}}</td>
                    <td>{{contraparte.correo}}</td>
                    <td>
                        <a href="#!modificarContraparte/{{contraparte.idContraparte}}" type="button" class="btn btn-default" ng-click="vm.setAction('Modificar')">
                            <i class="ion-edit"></i>
                        </a>
                        <button class="btn btn-default" ng-click="vm.showFormContraparte(contraparte.idContraparte)">
                            <i class="ion-trash-b"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <a href="#!nuevaContraparte" class="btn btn-success" role="button" ng-click="vm.setAction('Nueva')">Nueva</a>
        </div>
    </div>
</div>
<div class="container-fluid" ng-if="vm.noData">
    <a href="#!nuevaContraparte" class="btn btn-primary btn-lg" role="button">Nueva</a>
    <div uib-alert ng-class="'alert-danger'" class="text-center">No existen datos registrados</div>
</div>
