
<div class="container" >
   <div id="breadcrumbs">
       <ol class="breadcrumb">
           <li class="breadcrumb-item">Mantenedores</li>
           <li class="breadcrumb-item active">Parametros</li>
       </ol>
   </div>
   <h1>Definición Hitos</h1>
    <!-- ng-click para que se muestre en el switch de escritorio la creación del nuevo proyecto-->
   <div class="panel">
      <div class="panel-body">
         <table class="table table-hover">
             <thead>
             <tr>
                 <th>Id</th>
                 <th>Nombre</th>
                 <th>CRUD</th>
             </tr>
             </thead>
             <tbody>
             <tr ng-repeat="defHito in vm.DefinicionHitos ">
                 <th>{{defHito.id}}</th>
                 <td>{{defHito.nombre}}</td>
                 <td>
                     <a href="#!modificarDefinicionHito/{{defHito.id}}"
                        type="button"
                        class="btn btn-default"
                        ng-click=" vm.setAction('Modificar') ">
                        <i class="ion-edit"></i>
                     </a>
                     <button class="btn btn-default" ng-click="vm.showFormDefinicionHito(defHito.id)">
                        <i class="ion-trash-b"></i>
                     </button>
                 </td>
             </tr>
             </tbody>
         </table>
          <a href="#!nuevaDefinicionHito"
             class="btn btn-raised btn-success"
             role="button"
             ng-click=" vm.setAction('Nueva') ">Nuevo</a>
      </div>
   </div>
</div>
