<div class="modal-header">
    <h3>¿Estás seguro que deseas eliminar el Cliente?</h3>
</div>
<div class="modal-body">
    <div class="alert  alert-danger"
         role="alert"
         ng-show="vm.problema"
    >
        <strong>Cuidado!</strong> {{vm.mensaje}}
    </div>

    <div class="alert  alert-success"
         role="alert"
         ng-show="vm.exito"
    >
        {{vm.mensaje}}
    </div>
</div>
<div class="modal-footer">


    <span  ng-hide="vm.botonesEliminar">
       <input type="submit"
              class="btn btn-warning"
              value="OK"
              ng-click="vm.cancel()" />
    </span>

    <span ng-show="vm.botonesEliminar">
        <button type="submit"
                class="btn btn-danger"
                ng-click="vm.eliminar()">
            Eliminar
        </button>
        <button type="submit"
                class="btn btn-success"
                ng-click="vm.cancel()">
            Cancelar
        </button>
    </span>



</div>