
<div class="container">
   <div id="breadcrumbs">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="#!clientes" ng-click="vm.setAction( null )" >Clientes</a></li>
         <li class="breadcrumb-item active">Nuevo Cliente</li>
      </ol>
   </div>
   <h1>Modificar Avance</h1>
   <div class="panel">
      <div class="panel-body">
         <div ng-show="vm.clienteAgregado" uib-alert ng-class="'alert-success'">Cliente agregado con éxito</div>
         <div ng-show="vm.clienteNoAgregado" uib-alert ng-class="'alert-danger'">
            <span>Valor(es) inválido(s) :</span>
            <span ng-show="vm.flagRut_cliente">Rut</span>
            <span ng-show="vm.flagId_cliente">Acrónimo</span>
            <span ng-show="vm.flagNombre">Nombre</span>
         </div>
         <div class="form-group">

            <div class="row">
               <div class="col-xs-2">
                  <label class="control-label"> Id:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="rut"
                         ng-model="vm.avance.id"
                         ng-disabled="true">
               </div>
               <div class="col-xs-2">
                  <label class="control-label ">Proyecto:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="nombre"
                         ng-model="vm.avance.fkIdProyecto"
                        ng-disabled="true">
               </div>
            </div>

            <div class="row">
               <div class="col-xs-2">
                  <label class="control-label"> *Avance Estimado:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="%"
                         ng-model="vm.avance.avanceEstimado"+
                         ng-disabled="vm.evaluaBloqueo()"
                  >
               </div>
               <div class="col-xs-2">
                  <label class="control-label ">*Avance Real:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="%"
                         ng-model="vm.avance.avanceReal"
                         ng-disabled="vm.evaluaBloqueo()"
                  >
               </div>
            </div>
            <div class="row">
               <div class="col-xs-2">
                  <label class="control-label"> *Esfuerzo Real:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="%"
                         ng-model="vm.avance.esfuerzoReal"
                         ng-disabled="vm.evaluaBloqueo()"

                  >
               </div>
               <div class="col-xs-2">
                  <label class="control-label ">Fecha:</label>
               </div>
               <div class="col-xs-3 ">
                  <p class="input-group">
                     <input type="text"
                            class="form-control"
                            uib-datepicker-popup="{{vm.format}}"
                            ng-model="vm.avance.fecha"
                            is-open="vm.popup1.opened"
                            datepicker-options="dateOptions"
                            ng-required="true"
                            close-text="Close"
                            alt-input-formats="altInputFormats" />
                          <span class="input-group-btn">
                             <button type="button" class="btn btn-default" ng-click="vm.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                  </p>
               </div>
            </div>
            <div class="row">

               <div class="col-xs-2">
                  <label class="control-label">Observación :</label>
               </div>
               <div class="col-xs-3 ">
                  <textarea class="form-control" rows="5" id="comment" ng-model="vm.avance.observacion"> </textarea>
               </div>
            </div>

            <br/>
            <div class="row">
               <p>(*)campos obligatorios</p>
               <div class="col-xs-3 ">
                  <input type="submit"
                         class="btn btn-primary"
                         value="Guardar"
                         ng-click="vm.agregar()"
                        ng-disabled="vm.habilitarGuardado"
                  >

                  <input type="submit"
                         class="btn btn-warning"
                         value="Cancelar"
                         ng-click="vm.setPath( '/avance' )" />

               </div>
            </div>


         </div>
      </div>
   </div>
</div>

 
