
<div class="container" ng-if="!vm.noData">
   <div id="breadcrumbs">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="#!contraparte">Contraparte</a></li>
         <li class="breadcrumb-item active">Nueva Contraparte</li>
      </ol>
   </div>
   <h1>{{vm.getAction();}} Contraparte</h1>
   <div class="panel">
      <div class="panel-body">
         <div ng-show="vm.contraparteAgregado" uib-alert ng-class="'alert-success'">Contraparte agregado con éxito</div>

         <div class="form-group">
            <div class="row">

               <div class="col-xs-1">
                  <label class="control-label"> *ID:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="idContraparte"
                         ng-model="vm.contraparte.idContraparte"
                         ng-change="vm.habilitaBotonGuardar()">
               </div>
               <div class="col-xs-1">
                  <label class="control-label ">*Nombre:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="nombre"
                         ng-model="vm.contraparte.nombre"
                        ng-change="vm.habilitaBotonGuardar()">
               </div>
            </div>
            <div class="row">
               <div class="col-xs-1">
                  <label class="control-label"> Telefono:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text" class="form-control" placeholder="telefono" ng-model="vm.contraparte.telefono">
               </div>
               <div class="col-xs-1">
                  <label class="control-label ">Correo:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text" class="form-control" placeholder="correo" ng-model="vm.contraparte.correo" >
               </div>
            </div>
            <div class="row">
               <div class="col-xs-1">
                  <label class="control-label"> *Cliente:</label>
               </div>
               <div class="col-xs-3">

                  <select class="form-control"
                          data-ng-model="vm.contraparte.fkRutCliente"
                          ng-options="cli.rutCliente as cli.nombre for cli in vm.Clientes track by cli.rutCliente "
                           ng-change="vm.habilitaBotonGuardar()">
                     <!--"b.id as b.rut for b in vm.entidades track by b.id"-->
                     <option value="">Seleccionar Cliente</option>
                  </select>

               </div>
            </div>

            <br/>
            <div class="row">
               <p>* campos obligatorios  </p>
               <div class="col-xs-3 ">
                  <input type="submit"
                         class="btn btn-primary"
                         value="Guardar"
                         ng-click="vm.upsert()"
                         ng-disabled="vm.botonGuardarDeshabilitado"

                  >
                  <input type="submit"
                         class="btn btn-warning"
                         value="Cancelar"
                         ng-click="vm.setPath( '/contraparte' )"

                  />
               </div>
            </div>

         </div>

      </div>
   </div>
</div>














