
<div class="container">
   <div id="breadcrumbs">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="#!parametros" ng-click="vm.setAction( null )" >Parámetros</a></li>
         <li class="breadcrumb-item active">Nuevo Parámetro</li>
      </ol>
   </div>
   <h1>{{vm.getAction()}} Parámetro</h1>
   <div class="panel">
      <div class="panel-body">
         <div ng-show="vm.clienteAgregado" uib-alert ng-class="'alert-success'">Parámetro agregado con éxito</div>
         <div ng-show="vm.clienteNoAgregado" uib-alert ng-class="'alert-danger'">
            <span>Valor(es) inválido(s) :</span>
            <span ng-show="vm.flagRut_cliente">Rut</span>
            <span ng-show="vm.flagId_cliente">Acrónimo</span>
            <span ng-show="vm.flagNombre">Nombre</span>
         </div>
         <div class="form-group">

            <div class="row">

               <div class="alert  alert-warning"
                    role="alert"
                    ng-show="vm.valorEsNulo "
               >
                   {{vm.mensaje}}
               </div>

               <div class="col-xs-1">
                  <label class="control-label"> Id:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="id"
                         ng-model="vm.parametro.id"
                         ng-disabled="true "
                  >
               </div>
            </div>

            <div class="row">
               <div class="col-xs-1">
                  <label class="control-label"> Valor:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="valor"
                         ng-model="vm.parametro.valor"
                         ng-change="vm.validaValor();"
                  >
               </div>
            </div>
            <div class="row">
               <div class="col-xs-1">
                  <label class="control-label ">Nombre:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="nombre"
                         ng-model="vm.parametro.nombre"
                         ng-disabled="true "
                  >
               </div>
            </div>
            <div class="row">

               <div class="col-xs-1">
                  <label class="control-label ">Descripción:</label>
               </div>
               <div class="col-xs-4">
                  <textarea class="form-control"
                            rows="5" id="comment"
                            ng-model="vm.parametro.descripcion"
                            ng-disabled="true "
                  >
                  </textarea>
               </div>



            </div>
            <br/>
            <div class="row">
               <div class="col-xs-3 ">
                  <input type="submit"
                         class="btn btn-primary"
                         value="Guardar"
                         ng-click="vm.upsert()"
                        ng-disabled="vm.valorEsNulo"
                  >
                  <input type="submit"
                         class="btn btn-warning"
                         value="Cancelar"
                         ng-click="vm.setPath('/parametros')" />
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

 
