
<div class="container">
   <div id="breadcrumbs">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="#!clientes" ng-click="vm.setAction( null )" >Clientes</a></li>
         <li class="breadcrumb-item active">Nuevo Cliente</li>
      </ol>
   </div>
   <h1>{{vm.getAction()}} Cliente</h1>
   <div class="panel">
      <div class="panel-body">
         <div ng-show="vm.clienteAgregado" uib-alert ng-class="'alert-success'">Cliente agregado con éxito</div>
         <div class="alert  alert-danger"
              role="alert"
              ng-show="vm.mensaje != '' "
         >
            <strong>Cuidado!</strong> {{vm.mensaje}}
         </div>


         <div class="form-group">

            <div class="row">
               <div class="col-xs-1">
                  <label class="control-label"> *Rut:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="ej: 12345678-9"
                         ng-model="vm.cliente.rutCliente"
                         ng-change="vm.habilitarBotonGuardar()"
                         ng-blur="vm.validaRut( vm.cliente.rutCliente )"

                  >
               </div>
               <div class="col-xs-1">
                  <label class="control-label ">*Nombre:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="nombre"
                         ng-model="vm.cliente.nombre"
                         ng-change="vm.habilitarBotonGuardar()"

                  >
               </div>
            </div>

            <div class="row">
               <div class="col-xs-1">
                  <label class="control-label"> Fono:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="fono"
                         ng-model="vm.cliente.fono">
               </div>
               <div class="col-xs-1">
                  <label class="control-label ">Correo:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="correo"
                         ng-model="vm.cliente.correo" >
               </div>
            </div>
            <div class="row">
               <div class="col-xs-1">
                  <label class="control-label"> Dirección:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="dirección"
                         ng-model="vm.cliente.direccion">
               </div>
            </div>
            <br/>
            <div class="row">
               <p>*campos obligatorios</p>
               <div class="col-xs-3 ">
                  <input type="submit"
                         class="btn btn-primary"
                         value="Guardar"
                         ng-click="vm.upsert()"
                         ng-disabled="vm.deshabilitarBotonGuardar"
                  >
                  <input type="submit"
                         class="btn btn-warning"
                         value="Cancelar"
                         ng-click="vm.setPath( '/clientes' )" />
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

 
