
<div class="container">
   <div id="breadcrumbs" >
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="#!recurso" ng-click="vm.setAction(null)">Recurso</a></li>
         <li class="breadcrumb-item active">Nuevo Recurso</li>
      </ol>
   </div>
   <h1>{{vm.getAction()}} Recurso</h1>
   <div class="panel">
      <div class="panel-body">

         <div ng-show="vm.recursoAgregado" uib-alert ng-class="'alert-success'">Recurso agregado con éxito</div>
         <div ng-show="vm.recursoNoAgregado" uib-alert ng-class="'alert-danger'">
            <span>Valor(es) inválido(s) :</span>
            <span ng-show="vm.flagRut_recurso">Rut</span>
            <span ng-show="vm.flagId_recurso">Acrónimo</span>
            <span ng-show="vm.flagNombre">Nombre</span>
         </div>


         <div class="alert  alert-danger"
              role="alert"
              ng-show="vm.mensaje != '' "
         >
            <strong>Cuidado!</strong> {{vm.mensaje}}
         </div>


         <div class="form-group">

            <div class="row">

               <div class="col-xs-1">
                  <label class="control-label">*Rut:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="ej: 12345678-9"
                         ng-model="vm.recurso.rutRecurso"
                         ng-blur=" "
                         ng-change="vm.validaRut( vm.recurso.rutRecurso ); vm.evaluaBloqueo();"
                  >
               </div>


            </div>

            <div class="row">

               <div class="col-xs-1">
                  <label class="control-label">*Id:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="Id"
                         ng-model="vm.recurso.idRecurso"
                         ng-change="vm.evaluaBloqueo();"
                  >
               </div>
               <div class="col-xs-1">

               </div>
               <div class="col-xs-3">

               </div>

            </div>

            <div class="row">

               <div class="col-xs-1">
                  <label class="control-label">*Nombre:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="Nombre"
                         ng-model="vm.recurso.nombre"
                         ng-change="vm.evaluaBloqueo();"
                  >
               </div>

            </div>
            <br/>

            <div class="row">
               <p>*campos obligatorios</p>
               <div class="col-xs-3">
                  <input type="submit"
                         class="btn btn-primary"
                         value="Guardar"
                         ng-click="vm.upsert()"
                         ng-disabled="vm.deshabilitarGuardar; "
                  >
                  <input type="submit"
                         class="btn btn-warning"
                         value="Cancelar"
                         ng-click="vm.setPath( '/recurso' )" />
               </div>
            </div>

            </div>
      </div>
   </div>
</div>
