
<div class="container">
   <div id="breadcrumbs">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="#!sistemaRelacionado">Sistema Relacionado</a></li>
         <li class="breadcrumb-item active">Nuevo Sistema Relacionado</li>
      </ol>
   </div>
   <h1>{{vm.getAction()}} Sistema Relacionado</h1>
   <div class="panel">
      <div class="panel-body">
         <div ng-show="vm.sistemaAgregado" uib-alert ng-class="'alert-success'">Cliente agregado con éxito</div>
         <div ng-show="vm.sistemaNoAgregado" uib-alert ng-class="'alert-danger'">
            <span>Valor(es) inválido(s) :</span>
            <span ng-show="vm.flagId_sistema">IDE</span>
            <span ng-show="vm.flagNombre">nombre</span>
         </div>

         <div class="form-group">
            <div class="row">

               <div class="col-xs-1">
                  <label class="control-label"> ID:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text" class="form-control" placeholder="id sistema" ng-model="vm.sistemaRelacionado.idSistemaRelacionado">
               </div>

            </div>

            <div class="row">
               <div class="col-xs-1">
                  <label class="control-label ">Nombre:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text" class="form-control" placeholder="nombre" ng-model="vm.sistemaRelacionado.nombre" >

               </div>
            </div>


            <br/>
            <div class="row">
               <div class="col-xs-3">
                  <input type="submit" class="btn btn-primary" value="Guardar" ng-click="vm.upsert()">
                  <input type="submit"
                         class="btn btn-warning"
                         value="Cancelar"
                         ng-click="vm.setPath( '/recurso' )" />
               </div>
            </div>

      </div>
   </div>
</div>
