
<div class="container">
   <div id="breadcrumbs">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="#!definicionHitos" ng-click="vm.setAction( null )" >Definición Hitos</a></li>
         <li class="breadcrumb-item active"> {{vm.getAction()}} Definición Hito</li>
      </ol>
   </div>
   <h1>{{vm.getAction()}} Definición Hito</h1>
   <div class="panel">
      <div class="panel-body">
         <div ng-show="vm.clienteAgregado" uib-alert ng-class="'alert-success'">Parámetro agregado con éxito</div>
         <div ng-show="vm.clienteNoAgregado" uib-alert ng-class="'alert-danger'">
            <span>Valor(es) inválido(s) :</span>
            <span ng-show="vm.flagRut_cliente">Rut</span>
            <span ng-show="vm.flagId_cliente">Acrónimo</span>
            <span ng-show="vm.flagNombre">Nombre</span>
         </div>
         <div class="form-group">

            <div class="row">
               <div class="col-xs-1">
                  <label class="control-label"> Id:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="id"
                         ng-model="vm.definicionHito.id"
                         ng-disabled="vm.getAction() == 'Modificar' "
                  >
               </div>
            </div>

            <div class="row">
               <div class="col-xs-1">
                  <label class="control-label ">Nombre:</label>
               </div>
               <div class="col-xs-3">
                  <input type="text"
                         class="form-control"
                         placeholder="nombre"
                         ng-model="vm.definicionHito.nombre" >
               </div>
            </div>
            <br/>
            <div class="row">
               <div class="col-xs-3 ">
                  <input type="submit"
                         class="btn btn-primary"
                         value="Guardar"
                         ng-click="vm.upsert()">
                  <input type="submit"
                         class="btn btn-warning"
                         value="Cancelar"
                         ng-click="vm.setPath('/definicionHitos')" />
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

 
