
<div class="container" >
   <div id="breadcrumbs">
       <ol class="breadcrumb">
           <li class="breadcrumb-item">Mantenedores</li>
           <li class="breadcrumb-item active">Parametros</li>
       </ol>
   </div>
   <h1>Parametros</h1>
    <!-- ng-click para que se muestre en el switch de escritorio la creación del nuevo proyecto-->
   <div class="panel">
      <div class="panel-body">
         <table class="table table-hover">
             <thead>
             <tr>
                 <th>Id</th>
                 <th>Nombre</th>
                 <th>Valor</th>
                 <th>Descripción</th>
                 <th>CRUD</th>
             </tr>
             </thead>
             <tbody>
             <tr ng-repeat="param in vm.Parametros ">
                 <th>{{param.id}}</th>
                 <td>{{param.nombre}}</td>
                 <td>{{param.valor}}</td>
                 <td>{{param.descripcion}}</td>

                 <td>
                     <a href="#!modificarParametro/{{param.id}}"
                        type="button"
                        class="btn btn-default"
                        ng-click=" vm.setAction('Modificar') ">
                        <i class="ion-edit"></i>
                     </a>
                     <!--<button class="btn btn-default" ng-click="vm.showFormParametro(param.id)">-->
                        <!--<i class="ion-trash-b"></i>-->
                     <!--</button>-->
                 </td>
             </tr>
             </tbody>
         </table>
          <!--<a href="#!nuevoParametro" class="btn btn-raised btn-success" role="button" ng-click=" vm.setAction('Nuevo') ">Nuevo</a>-->
      </div>
   </div>
</div>
