<div class="container" ng-if="!vm.noData">
    <div class="page-header">
        <h1>Recursos <small>Buscador de Recursos</small></h1>
    </div>
    <div ng-show="vm.flagSinTarea" uib-alert ng-class="">
        <span ng-show="vm.flagSinTarea">No se encontraron Recursos</span>
    </div>

        <table class="form-group filtro" >
            <thead>
            <tr>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="form-group-lg" >
                    <div class="col-sm-8 selectContainer ddl" >
                        <select class="form-control" class="form-group-lg"
                                data-ng-model="vm.recId.recurso"
                                ng-options="rec.idRecurso as rec.idRecurso for rec in vm.recursos track by rec.rutRecurso">
                            <option value="">Seleccionar Recurso</option>
                        </select>
                    </div>
                </td>
                <td class="form-group-lg">
                    <div class="col-sm-8 buscadorTareas ">
                        <i class="ion-search"></i>
                        <input id="buscador" class="input-lg" placeholder="Buscar" type="text" ng-model="vm.buscadorRecurso" />
                    </div>
                </td>
                <td class="form-group-lg ">
                    <div class="col-sm-8 primary-buscar">
                        <a ng-click="vm.buscarRecurso()" class="btn btn-primary btn-lg" role="button">Buscar</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="panel">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead class="align-middle">
                    <tr>
                        <th>Nombre</th>
                        <th>Rut Recurso</th>
                        <th>Id Recurso</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="recurso in vm.recursos  | filter:{idRecurso: vm.recId.recurso}">
                        <td>{{recurso.nombre}}</td>
                        <td>{{recurso.rutRecurso}}</td>
                        <td>{{recurso.idRecurso}}</td>
                        <td>
                            <a href="#!modificarRecurso/{{recurso.rutRecurso}}" type="button" class="btn btn-default" ng-click="vm.setAction('Modificar')">
                                <i class="ion-edit btn-ion"></i>
                            </a>
                            <button class="btn btn-default" ng-click="vm.showFormRecurso(recurso.idRecurso)">
                                <i class="ion-trash-b"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a href="#!nuevoRecurso" class="btn btn-success" role="button" ng-click="vm.setAction('Nuevo')">Nuevo</a>
            </div>
        </div>
</div>
<div class="container-fluid" ng-if="vm.noData">
    <a href="#!nuevoRecurso" class="btn btn-primary btn-lg" role="button">Nuevo</a>
    <div uib-alert ng-class="'alert-danger'" class="text-center">No existen datos registrados</div>
</div>
