
<div class="container" ng-if="!vm.noData">
   <div id="breadcrumbs">
      <ol class="breadcrumb">
         <li class="breadcrumb-item">Mantenedores</li>
         <li class="breadcrumb-item active">Sistema Relacionado</li>
      </ol>
   </div>
   <h1>Sistema Relacionado</h1>
   <!-- ng-click para que se muestre en el switch de escritorio la creación del nuevo proyecto-->
   <div class="panel">
      <div class="panel-body">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th>IDE</th>
                  <th>nombre</th>
                  <th>CRUD</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="sistema in vm.sistemasRelacionados | filter:buscador">
                  <th>{{sistema.idSistemaRelacionado}}</th>
                  <td>{{sistema.nombre}}</td>
                  <td>
                     <a href="#!modificarSistemaRelacionado/{{sistema.idSistemaRelacionado}}" type="button" class="btn btn-default" ng-click="vm.setAction('Modificar')">
                        <i class="ion-edit"></i>
                     </a>
                     <button class="btn btn-default" ng-click="vm.showFormSistema_relacionado(sistema.idSistemaRelacionado)">
                        <i class="ion-trash-b"></i>
                     </button>
                  </td>
               </tr>
            </tbody>
         </table>
         <a href="#!nuevoSistemaRelacionado" class="btn btn-success" role="button"  ng-click="vm.setAction('Nuevo')">Nuevo</a>
      </div>
      </div>
      <div class="" ng-if="vm.noData">
         <a href="#!nuevoSistemaRelacionado" class="btn btn-primary btn-lg" role="button">Nuevo</a>
         <div uib-alert ng-class="'alert-danger'" class="text-center">No existen datos registrados</div>
      </div>
   </div>
