<div class="rte-btn-toolbar" role="toolbar">
  <div class="btn-group">
    <button
      class="btn btn-rte dropdown-toggle btn-format-block"
      type="button"
      unselectable="on"
      data-toggle="dropdown">
      <span>{{ activeFormatBlockItem.labelPlain }}</span>
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="item in formatBlockItems | orderBy:'idx':false">
        <a 
          ng-bind-html="item.label"
          ng-click="setActiveFormatBlock(item)"
          ng-mousedown="$event.preventDefault()">
        </a>
      </li>
    </ul>
  </div>

  <div class="btn-group">
    <button
      ng-repeat="btn in formatFontStyleBtns | orderBy:'idx':false" 
      class="btn btn-rte" 
      type="button" 
      unselectable="on" 
      ng-bind-html="btn.icon" 
      ng-class="{ active: getFormatState(btn.cmd) }" 
      ng-click="setFormat(btn)">
    </button>
  </div>

  <div class="btn-group">
    <button
      ng-repeat="btn in formatListBtns | orderBy:'idx':false" 
      class="btn btn-rte" 
      type="button" 
      unselectable="on" 
      ng-bind-html="btn.icon" 
      ng-class="{ active: getFormatState(btn.cmd) }" 
      ng-click="setFormat(btn)">
    </button>
  </div>

  <div class="btn-group">
    <button
      ng-repeat="btn in formatAlignBtns | orderBy:'idx':false" 
      class="btn btn-rte" 
      type="button" 
      unselectable="on" 
      ng-bind-html="btn.icon"
      ng-class="{ active: getFormatState(btn.cmd) }" 
      ng-click="setFormat(btn)">
    </button>
  </div>

  <div class="btn-group">
    <button
      ng-repeat="btn in linkBtns | orderBy:'idx':false" 
      class="btn btn-rte" 
      id="btn-{{ btn.opt }}"
      type="button" 
      unselectable="on" 
      ng-bind-html="btn.icon"
      ng-class="{ active: btn.dialog.isVisible }"
      ng-click="showDialog(btn)"
      ng-disabled="btn.disable()">
    </button>
  </div>
</div>

<div class="rte-content" contenteditable></div>

<rte-dialog
  ng-repeat="btn in linkBtns"
  ng-show="btn.dialog.isVisible"
  position="btn.dialog.position"
  url="btn.dialog.url"
  action-str="btn.dialog.actionStr"
  action="btn.dialog.action()"
  close="btn.dialog.isVisible = false"></rte-dialog>