
<div class="container-fluid">
   <div id="breadcrumbs" >
      <ol class="breadcrumb">
         <li class="breadcrumb-item">Informes</li>
         <li class="breadcrumb-item active">Calendario</li>
      </ol>
   </div>
   <h1>Calendario</h1>
   <div class="panel">
      <div class="panel-body">
         <div id='calendar'>

         </div>
      </div>
   </div>
</div>
