<!---->
<div class="container">
   <div id="breadcrumbs">
      <ol class="breadcrumb">
         <li class="breadcrumb-item">Informes</li>
         <li class="breadcrumb-item active">Estado de Proyectos</li>
      </ol>
   </div>
   <h1>Estado Facturación</h1>
   <div class="panel">
      <div class="panel-body">

         <div class="alert  alert-warning"
              role="alert"
              ng-show="vm.problema"
         >
            {{vm.mensaje}}
         </div>


         <div class="form-group ">
            <div class="row">

               <div class="col-xs-2">
                  <label class="control-label" >Contraparte:</label>
               </div>
               <div class="col-xs-3" >
                  <select id="contraparte"
                          class="form-control"
                          name="name"
                          ng-model="vm.idContraparte"
                          ng-change="vm.informeFacturacion();"
                          ng-options="con.idContraparte as con.nombre for con in vm.Contrapartes track by con.idContraparte ">
                     <option value="">--Elige una opción--</option>
                  </select>
               </div>

               <div class="col-xs-2">
                  <label class="control-label">Seleccione Proyecto:</label>
               </div>
               <div class="col-xs-3" >
                  <select id="proyecto"
                          class="form-control"
                          name="name"
                          ng-model="vm.idProyecto"
                          ng-options="proyecto.idProyecto as  proyecto.idProyecto   for proyecto in vm.Proyectos "
                          ng-change="vm.informeFacturacion();"
                  >
                     <option value="">--Elige una opción--</option>
                  </select>
               </div>
            </div>
         </div>

         <table class="table table-hover">
            <thead>
               <tr>
                  <th>Proyecto</th>
                  <th>Nombre Hito</th>
                  <th>Porcentaje</th>
                  <th>valor UF</th>
                  <th>Abono</th>
                  <th>Saldo</th>
                  <th>Estado Hito</th>
                  <th>Fecha Emision</th>
                  <th>Numero Factura</th>
                  <th>Estado Factura</th>
               </tr>
            </thead>
            <tbody  >
               <tr ng-repeat="hito in vm.hitosPorContraparte " >
                  <td>{{hito.fkIdProyecto}}</td>
                  <td>{{hito.nombreHito}}</td>
                  <td>{{hito.porcentaje}}</td>
                  <td>{{hito.valorUf}}</td>
                  <td>{{hito.abono}}</td>
                  <td>{{hito.saldo}}</td>
                  <td>{{hito.estadoHito}}</td>
                  <td>{{hito.fechaEmision}}</td>
                  <td>{{hito.numeroFactura}}</td>
                  <td>{{hito.estadoFactura}}</td>
               </tr>
            <tfoot ng-show="vm.idProyecto != 'todos' &&  vm.hitosPorContraparte.length > 0">
               <tr>
                  <td>  </td>
                  <td>Total</td>
                  <td>{{vm.total.porcentaje }}</td>
                  <td>{{vm.total.valorUF}}</td>
                  <td>{{vm.total.abono}}</td>
                  <td>{{vm.total.saldo}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
               </tr>
            </tfoot>
            </tbody>
         </table>
      </div>
   </div>
</div>































