<!---->
<div class="container">
   <div id="breadcrumbs">
      <ol class="breadcrumb">
         <li class="breadcrumb-item">Informes</li>
         <li class="breadcrumb-item active">Estado de Proyectos</li>
      </ol>
   </div>
   <h1>Estado de Proyectos</h1>
   <div class="panel">
      <div class="panel-body">
         <br/>
         <div class="row">

            <div class="alert  alert-warning"
                 role="alert"
                 ng-show="vm.mensaje != null "
            >
               {{vm.mensaje}}
            </div>

            <div class="col-xs-2">
               <label class="control-label">Seleccione Proyecto:</label>
            </div>
            <div class="col-xs-3" >
               <select id="proyecto"
                       class="form-control"
                       name="name"
                       ng-model="vm.idProyecto"
                       ng-options="proyecto.idProyecto as  proyecto.idProyecto   for proyecto in vm.Proyectos "
                       ng-change="  vm.obtenerHitos();
                                    vm.limpiarHitosPorFacturar();
                                     vm.obtenerEstado(); "
               >
                  <option value="">--Elige una opción--</option>
               </select>
            </div>
         </div>
         <br/>

            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>Proyecto</th>
                     <th>Fecha Actual</th>
                     <th>Fecha Inicio</th>
                     <th>Fecha Término</th>
                     <th>Esfuerzo Vendido</th>
                     <th>Esfuerzo Real</th>
                     <th>Avance Estimado</th>
                     <th>Avance Real</th>
                     <th>Indice Avance</th>
                     <th>Indice Esfuerzo</th>
                  </tr>
               </thead>
               <tbody  ng-repeat="e in vm.estado" >
                  <tr>

                     <td>{{e.fkIdProyecto}}</td>
                     <td >{{e.fechaActual}}</td>
                     <td>{{e.fechaInicio}}</td>
                     <td>{{e.fechaTermino}}</td>
                     <td>{{e.esfuerzoVendido}} d</td>
                     <td>
                        <a href="" type="button"  ng-click="vm.actualizaEsfuerzoReal(e.fkIdProyecto,'ID')">
                           {{vm.getDefaultEsfuerzo( e.esfuerzoReal )}} d
                        </a>
                     </td>
                     <td>{{e.avanceEstimado}} %</td>
                     <td>{{e.avanceReal}} %</td>
                     <td ng-style="vm.getStyle(e.indiceAvance)" id="{{$index}}ia">{{e.indiceAvance}}</td>
                     <td ng-style="vm.getStyle(e.indiceEsfuerzo)"  id="{{$index}}ie">{{e.indiceEsfuerzo}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
   </div>
</div>

































