<div class="container" ng-if="!vm.noData">
    <div class="page-header">
        <h1>Recursos Por Proyectos</h1>
    </div>
    <div ng-show="vm.flagSinTarea" uib-alert ng-class="">
        <span ng-show="vm.flagSinTarea">No se encontraron Recursos</span>
    </div>



    <div class="panel">

        <div class="panel-body">

            <div class="row">
                <div class="col-md-3" >
                    <select class="form-control" class="form-group-lg"
                            data-ng-model="vm.recId.recurso"
                            ng-options="rec.idRecurso as rec.idRecurso for rec in vm.recursos track by rec.rutRecurso">
                        <option value="">Seleccionar Recurso</option>
                    </select>
                </div>
                <div class="col-md-3" >
                    <select class="form-control" class="form-group-lg"
                            data-ng-model="vm.recId.idProyecto"
                            ng-options="pro.idProyecto as pro.idProyecto for pro in vm.Proyectos ">
                        <option value="">Seleccionar Proyecto</option>
                    </select>
                </div>
            </div>
        </div>
    </div>


    <div class="panel">

        <div class="panel-body">
            <table class="table table-hover">
                <thead class="align-middle">
                <tr>
                    <th>Nombre</th>
                    <th>Rut Recurso</th>
                    <th>Id Recurso</th>
                    <th>Proyecto</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat=" recurso in vm.recursosPorProyecto  |
                                filter:     (   !!vm.recId.recurso  || undefined )
                                         && { idRecurso: vm.recId.recurso }
                                | filter: ( !!vm.recId.idProyecto || undefined )
                                         && { fkIdProyecto: vm.recId.idProyecto }

                                         ">
                    <td>{{recurso.nombre}}</td>
                    <td>{{recurso.rutRecurso}}</td>
                    <td>{{recurso.idRecurso}}</td>
                    <td>{{recurso.fkIdProyecto}}</td>
                    <td>{{recurso.fechaInicio}}</td>
                    <td>{{recurso.fechaTermino}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



























